iot-pkc4.json
[{"id":"a04c8eff.0ef6e8","type":"inject","z":"935770f4.d25f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"","x":190,"y":560,"wires":[["7b82d0c4.a025e8"]]},{"id":"7b82d0c4.a025e8","type":"modbus-server","z":"935770f4.d25f08","name":"","logEnabled":false,"hostname":"","serverPort":10502,"responseDelay":100,"delayUnit":"ms","coilsBufferSize":"10","holdingBufferSize":"25000","inputBufferSize":"10","x":400,"y":560,"wires":[["bfff7b27.d564e"],[],[]]},{"id":"59ce23a0.6a69b4","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"false","x":810,"y":540,"wires":[]},{"id":"bfff7b27.d564e","type":"function","z":"935770f4.d25f08","name":"","func":"global.set('mbRespond', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["59ce23a0.6a69b4"]]},{"id":"135d011c.de669f","type":"Serial Iterator","z":"935770f4.d25f08","name":"","property":"iter","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":850,"y":760,"wires":[["b6c6f0fd.ec687"],[]]},{"id":"76b02eb6.b882b8","type":"function","z":"935770f4.d25f08","name":"001-099","func":"//  [\n//     0,100,200,300,400,500,600,700,800,900,1000,\n//     1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,\n//     2100,2200,2300,2400,2500,2600,2700,2800,2900,3000,\n//     3100,3200,3300,3400,3500,3600,3700,3800,3900,4000,\n//     4100,4200,4300,4400,4500,4600,4700,4800,4900,5000,\n//     5100,5200,5300,5400,5500,5600,5700,5800,5900,6000,\n//     6100,6200,6300,6400,6500,6600,6700,6800,6900,7000,\n//     7100,7200,7300,7400,7500,7600,7700,7800,7900,8000,\n//     8100,8200,8300,8400,8500,8600,8700,8800,8900,9000,\n//     9100,9200,9300,9400,9500,9600,9700,9800\n//     ]\n\nmsg.iter = [\n    {start:0,   name:\"metering001\", devSer:\"PCU18070093\", home:\"D01\" },\n    {start:100, name:\"metering002\", devSer:\"PCU18070094\", home:\"D02\"},\n    {start:200, name:\"metering003\", devSer:\"PCU18070095\", home:\"D02A\"},\n    {start:300, name:\"metering004\", devSer:\"PCU18070096\", home:\"D02B\"},\n    {start:400, name:\"metering005\", devSer:\"PCU18070097\", home:\"D03\"},\n    {start:500, name:\"metering006\", devSer:\"PCU18070098\", home:\"D04\"},\n    {start:600, name:\"metering007\", devSer:\"PCU18070099\", home:\"D04A\"},\n    {start:700, name:\"metering008\", devSer:\"PCU18070100\", home:\"D04B\"},\n    {start:800, name:\"metering009\", devSer:\"PCU18070101\", home:\"D05\"},\n    {start:900, name:\"metering010\", devSer:\"PCU18070102\", home:\"D06\"},\n    {start:1000, name:\"metering011\", devSer:\"PCU18070103\", home:\"D08\"},\n    // {start:1100, name:\"metering012\", devSer:\"na\", },\n    {start:1200, name:\"metering013\", devSer:\"PCU18070104\", home:\"D09\"},\n    {start:1300, name:\"metering014\", devSer:\"PCU18070105\", home:\"D10\"},\n    {start:1400, name:\"metering015\", devSer:\"PCU18070106\", home:\"D11\"},\n    {start:1500, name:\"metering016\", devSer:\"PCU18070107\", home:\"D12\"},\n    {start:1600, name:\"metering017\", devSer:\"PCU18070108\", home:\"D13\"},\n    {start:1700, name:\"metering018\", devSer:\"PCU18070109\", home:\"D14\"},\n    {start:1800, name:\"metering019\", devSer:\"PCU18070110\", home:\"D15\"},\n    {start:1900, name:\"metering020\", devSer:\"PCU18070111\", home:\"D16\"},\n    {start:2000, name:\"metering021\", devSer:\"PCU18070112\", home:\"D17\"},\n    {start:2100, name:\"metering022\", devSer:\"PCU18070113\", home:\"D18\"},\n    {start:2200, name:\"metering023\", devSer:\"PCU18070114\", home:\"D19\"},\n    {start:2300, name:\"metering024\", devSer:\"PCU18070115\", home:\"D20\"},\n    {start:2400, name:\"metering025\", devSer:\"PCU18070116\", home:\"D21\"},\n    {start:2500, name:\"metering026\", devSer:\"PCU18070117\", home:\"D22\"},\n    {start:2600, name:\"metering027\", devSer:\"PCU18070118\", home:\"D23\"},\n    {start:2700, name:\"metering028\", devSer:\"PCU18070119\", home:\"D24\"},\n    {start:2800, name:\"metering029\", devSer:\"PCU18070120\", home:\"D25\"},\n    {start:2900, name:\"metering030\", devSer:\"PCU18070121\", home:\"D26\"},\n    {start:3000, name:\"metering031\", devSer:\"PCU18070122\", home:\"D26A\"},\n    {start:3100, name:\"metering032\", devSer:\"PCU18070123\", home:\"D26B\"},\n    {start:3200, name:\"metering033\", devSer:\"PCU18070124\", home:\"D27\"},\n    {start:3300, name:\"metering034\", devSer:\"PCU18070125\", home:\"D28\"},\n    {start:3400, name:\"metering035\", devSer:\"PCU18070126\", home:\"D28A\"},\n    {start:3500, name:\"metering036\", devSer:\"PCU18070127\", home:\"D28B\"},\n    {start:3600, name:\"metering037\", devSer:\"PCU18070128\", home:\"D29\"},\n    {start:3700, name:\"metering038\", devSer:\"PCU18070129\", home:\"D30\"},\n    {start:3800, name:\"metering039\", devSer:\"PCU18070130\", home:\"D31\"},\n    {start:3900, name:\"metering040\", devSer:\"PCU18070131\", home:\"D32\"},\n    {start:4000, name:\"metering041\", devSer:\"PCU18070132\", home:\"D33\"},\n    {start:4100, name:\"metering042\", devSer:\"PCU18070133\", home:\"D34\"},\n    {start:4200, name:\"metering043\", devSer:\"PCU18070134\", home:\"D36\"},\n    // {start:4300, name:\"metering044\", devSer:\"na\", },\n    {start:4400, name:\"metering045\", devSer:\"PCU18070135\", home:\"D37\"},\n    {start:4500, name:\"metering046\", devSer:\"PCU18070136\", home:\"D38\"},\n    {start:4600, name:\"metering047\", devSer:\"PCU18070137\", home:\"D38A\"},\n    // {start:4700, name:\"metering048\", devSer:\"na\", },\n    {start:4800, name:\"metering049\", devSer:\"PCU18070138\", home:\"D39\"},\n    {start:4900, name:\"metering050\", devSer:\"PCU18070139\", home:\"D40\"},\n    {start:5000, name:\"metering051\", devSer:\"PCU18070140\", home:\"D40A\"},\n    {start:5100, name:\"metering052\", devSer:\"PCU18070141\", home:\"D40B\"},\n    {start:5200, name:\"metering053\", devSer:\"PCU18070142\", home:\"D41\"},\n    {start:5300, name:\"metering054\", devSer:\"PCU18070143\", home:\"D42\"},\n    {start:5400, name:\"metering055\", devSer:\"PCU18070144\", home:\"D43\"},\n    {start:5500, name:\"metering056\", devSer:\"PCU18070145\", home:\"D44\"},\n    {start:5600, name:\"metering057\", devSer:\"PCU18070146\", home:\"D46\"},\n    // {start:5700, name:\"metering058\", devSer:\"na\", },\n    {start:5800, name:\"metering059\", devSer:\"PCU18070147\", home:\"D47\"},\n    {start:5900, name:\"metering060\", devSer:\"PCU18070148\", home:\"D48\"},\n    {start:6000, name:\"metering061\", devSer:\"PCU18070149\", home:\"D49\"},\n    {start:6100, name:\"metering062\", devSer:\"PCU18070150\", home:\"D50\"},\n    {start:6200, name:\"metering063\", devSer:\"PCU18070151\", home:\"D52\"},\n    // {start:6300, name:\"metering064\", devSer:\"na\", },\n    {start:6400, name:\"metering065\", devSer:\"PCU18070152\", home:\"D53\"},\n    {start:6500, name:\"metering066\", devSer:\"PCU18070153\", home:\"D54\"},\n    {start:6600, name:\"metering067\", devSer:\"PCU18070154\", home:\"D55\"},\n    {start:6700, name:\"metering068\", devSer:\"PCU18070155\", home:\"D56\"},\n    {start:6800, name:\"metering069\", devSer:\"PCU18070156\", home:\"D57\"},\n    {start:6900, name:\"metering070\", devSer:\"PCU18070157\", home:\"D58\"},\n    {start:7000, name:\"metering071\", devSer:\"PCU18070158\", home:\"D58A\"},\n    {start:7100, name:\"metering072\", devSer:\"PCU18070159\", home:\"D58B\"},\n    {start:7200, name:\"metering073\", devSer:\"PCU18070160\", home:\"D59\"},\n    {start:7300, name:\"metering074\", devSer:\"PCU18070161\", home:\"D60\"},\n    {start:7400, name:\"metering075\", devSer:\"PCU18070162\", home:\"D60A\"},\n    {start:7500, name:\"metering076\", devSer:\"PCU18070163\", home:\"D60B\"},\n    {start:7600, name:\"metering077\", devSer:\"PCU18070164\", home:\"D61\"},\n    {start:7700, name:\"metering078\", devSer:\"PCU18070165\", home:\"D62\"},\n    {start:7800, name:\"metering079\", devSer:\"PCU18070166\", home:\"D63\"},\n    {start:7900, name:\"metering080\", devSer:\"PCU18070167\", home:\"D64\"},\n    {start:8000, name:\"metering081\", devSer:\"PCU18070168\", home:\"D66\"},\n    // {start:8100, name:\"metering082\", devSer:\"na\", },\n    {start:8200, name:\"metering083\", devSer:\"PCU18070169\", home:\"D67\"},\n    {start:8300, name:\"metering084\", devSer:\"PCU18070170\", home:\"D68\"},\n    {start:8400, name:\"metering085\", devSer:\"PCU18070171\", home:\"D69\"},\n    {start:8500, name:\"metering086\", devSer:\"PCU18070172\", home:\"D70\"},\n    {start:8600, name:\"metering087\", devSer:\"PCU18070173\", home:\"D71\"},\n    {start:8700, name:\"metering088\", devSer:\"PCU18070174\", home:\"D72\"},\n    {start:8800, name:\"metering089\", devSer:\"PCU18070175\", home:\"D73\"},\n    {start:8900, name:\"metering090\", devSer:\"PCU18070176\", home:\"D74\"},\n    {start:9000, name:\"metering091\", devSer:\"PCU18070177\", home:\"D74A\"},\n    {start:9100, name:\"metering092\", devSer:\"PCU18070178\", home:\"D74B\"},\n    {start:9200, name:\"metering093\", devSer:\"PCU18070179\", home:\"D75\"},\n    {start:9300, name:\"metering094\", devSer:\"PCU18070180\", home:\"D76\"},\n    {start:9400, name:\"metering095\", devSer:\"PCU18070181\", home:\"D76A\"},\n    {start:9500, name:\"metering096\", devSer:\"PCU18070182\", home:\"D76B\"},\n    {start:9600, name:\"metering097\", devSer:\"PCU18070183\", home:\"D77\"},\n    {start:9700, name:\"metering098\", devSer:\"PCU18070184\", home:\"D78\"},\n    {start:9800, name:\"metering099\", devSer:\"PCU18070185\", home:\"D79\"}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":680,"wires":[["135d011c.de669f"]]},{"id":"b6c6f0fd.ec687","type":"function","z":"935770f4.d25f08","name":"","func":"var mbR = global.get('mbRespond')\nvar startVal = msg.payload.start\nvar msg2\nvar msg3\nvar msg4\n\nmsg.buffarr = [\n    mbR[startVal],mbR[startVal+1],\n    mbR[startVal+2],mbR[startVal+3],\n    mbR[startVal+4],mbR[startVal+5],\n    mbR[startVal+6],mbR[startVal+7],\n    mbR[startVal+8],mbR[startVal+9],\n    mbR[startVal+10],mbR[startVal+11],\n    mbR[startVal+12],mbR[startVal+13],\n    mbR[startVal+14],mbR[startVal+15],\n    mbR[startVal+16],mbR[startVal+17],\n    mbR[startVal+18],mbR[startVal+19],\n    mbR[startVal+20],mbR[startVal+21],\n    mbR[startVal+22],mbR[startVal+23],\n    mbR[startVal+24],mbR[startVal+25],\n    mbR[startVal+26],mbR[startVal+27],\n    mbR[startVal+28],mbR[startVal+29],\n    mbR[startVal+30],mbR[startVal+31],\n    mbR[startVal+32],mbR[startVal+33],\n    mbR[startVal+34],mbR[startVal+35],\n    mbR[startVal+36],mbR[startVal+37],\n    mbR[startVal+38],mbR[startVal+39],\n    mbR[startVal+40],mbR[startVal+41],\n    mbR[startVal+42],mbR[startVal+43],\n    mbR[startVal+44],mbR[startVal+45],\n    mbR[startVal+46],mbR[startVal+47],\n    mbR[startVal+48],mbR[startVal+49],\n    mbR[startVal+50],mbR[startVal+51],\n    mbR[startVal+52],mbR[startVal+53],\n    mbR[startVal+54],mbR[startVal+55],\n    mbR[startVal+56],mbR[startVal+57],\n    mbR[startVal+58],mbR[startVal+59],\n    mbR[startVal+60],mbR[startVal+61],\n    mbR[startVal+62],mbR[startVal+63],\n    mbR[startVal+64],mbR[startVal+65],\n    mbR[startVal+66],mbR[startVal+67],\n    mbR[startVal+68],mbR[startVal+69],\n    mbR[startVal+70],mbR[startVal+71],\n    mbR[startVal+72],mbR[startVal+73],\n    mbR[startVal+74],mbR[startVal+75],\n    mbR[startVal+76],mbR[startVal+77],\n    mbR[startVal+78],mbR[startVal+79],\n    mbR[startVal+80],mbR[startVal+81],\n    mbR[startVal+82],mbR[startVal+83],\n    mbR[startVal+84],mbR[startVal+85],\n    mbR[startVal+86],mbR[startVal+87],\n    mbR[startVal+88],mbR[startVal+89],\n    mbR[startVal+90],mbR[startVal+91],\n    mbR[startVal+92],mbR[startVal+93],\n    mbR[startVal+94],mbR[startVal+95],\n    mbR[startVal+96],mbR[startVal+97],\n    mbR[startVal+98],mbR[startVal+99],\n]\n\nmsg.valbuff = Buffer.from(msg.buffarr)\nmsg.meteringMsg = {\n    devSerNum : msg.payload.devSer,\n    topic : \"metering\",\n    // raw : msg.buffarr,\n    payload : {\n        devSerNum : msg.payload.devSer,\n        home : msg.payload.home,\n        isOnline : msg.valbuff.readIntBE(0,2),\n        ipSegment3 : msg.valbuff.readIntBE(2,2),\n        ipSegment4 : msg.valbuff.readIntBE(4,2),\n        devSlave : msg.valbuff.readIntBE(6,2),\n        voltAN : msg.valbuff.readFloatBE(8,4),\n        voltBN : msg.valbuff.readFloatBE(12,4),\n        voltCN : msg.valbuff.readFloatBE(16,4),\n        voltAvgLN : msg.valbuff.readFloatBE(20,4),\n        voltAB : msg.valbuff.readFloatBE(24,4),\n        voltBC : msg.valbuff.readFloatBE(28,4),\n        voltCA : msg.valbuff.readFloatBE(32,4),\n        voltAvgLL : msg.valbuff.readFloatBE(36,4),\n        currA : msg.valbuff.readFloatBE(40,4),\n        currB : msg.valbuff.readFloatBE(44,4),\n        currC : msg.valbuff.readFloatBE(48,4),\n        currN : msg.valbuff.readFloatBE(52,4),\n        currAvg : msg.valbuff.readFloatBE(56,4),\n        freq : msg.valbuff.readFloatBE(60,4),\n        pf : msg.valbuff.readFloatBE(64,4),\n        kWtotal : msg.valbuff.readFloatBE(68,4),\n        kVAtotal : msg.valbuff.readFloatBE(72,4),\n        kVARtotal : msg.valbuff.readFloatBE(76,4),\n        kvarh_import : msg.valbuff.readFloatBE(80,4),\n        kwh_import : msg.valbuff.readFloatBE(84,4),\n        kwh_export : msg.valbuff.readFloatBE(88,4),\n        kwh_total : msg.valbuff.readFloatBE(92,4),\n    }\n}\n\n// if(global.get(msg.payload.devPing) === undefined){\n//     global.set(msg.payload.devPing, false)\n// }\n\nvar msg4 = {\n    payload : {\n        home : msg.meteringMsg.payload.home,\n        devSerNum : msg.meteringMsg.payload.devSer,\n        kWtotal : msg.meteringMsg.payload.kWtotal,\n        kwh_import : msg.meteringMsg.payload.kwh_import,\n        voltAvgLN : msg.meteringMsg.payload.voltAvgLN,\n        voltAvgLL : msg.meteringMsg.payload.voltAvgLL,\n        currAvg : msg.meteringMsg.payload.currAvg,\n        timestamp : new Date().toISOString(),\n    }\n}\n\nif(msg.meteringMsg.payload.freq > 1.0){\n    // what happened if detach from slave\n    msg2 = {\n        topic : \"powermetering\",\n        qos : 2,\n        retain : false,\n        payload : JSON.stringify({\n            devSerNum : msg.meteringMsg.payload.devSerNum,\n            timestamp : new Date().toISOString(),\n            voltAN : msg.meteringMsg.payload.voltAN,\n            voltBN : msg.meteringMsg.payload.voltBN,\n            voltCN : msg.meteringMsg.payload.voltCN,\n            voltAvgLN : msg.meteringMsg.payload.voltAvgLN,\n            voltAB : msg.meteringMsg.payload.voltAB,\n            voltBC : msg.meteringMsg.payload.voltBC,\n            voltCA : msg.meteringMsg.payload.voltCA,\n            voltAvgLL : msg.meteringMsg.payload.voltAvgLL,\n            currA : msg.meteringMsg.payload.currA,\n            currB : msg.meteringMsg.payload.currB,\n            currC : msg.meteringMsg.payload.currC,\n            currN : msg.meteringMsg.payload.currN,\n            currAvg : msg.meteringMsg.payload.currAvg,\n            freq : msg.meteringMsg.payload.freq,\n            pf : msg.meteringMsg.payload.pf,\n            kwTotal : msg.meteringMsg.payload.kWtotal,\n            kvaTotal : msg.meteringMsg.payload.kVAtotal,\n            kvarTotal : msg.meteringMsg.payload.kVARtotal,\n            kvarhImport : msg.meteringMsg.payload.kvarh_import,\n            kwhImport : msg.meteringMsg.payload.kwh_import,\n            kwhExport : msg.meteringMsg.payload.kwh_export,\n            kwh_total : msg.meteringMsg.payload.kwh_total,\n        })\n    }\n}\n    \n// } else {\n//     msg2 = {\n//         topic : \"powermetering\",\n//         qos : 2,\n//         retain : false,\n//         payload : JSON.stringify({\n//             devSerNum : msg.meteringMsg.payload.devSerNum,\n//             timestamp : new Date().toISOString(),\n//             voltAN : msg.meteringMsg.payload.voltAN,\n//             voltBN : msg.meteringMsg.payload.voltBN,\n//             voltCN : msg.meteringMsg.payload.voltCN,\n//             voltAvgLN : msg.meteringMsg.payload.voltAvgLN,\n//             voltAB : msg.meteringMsg.payload.voltAB,\n//             voltBC : msg.meteringMsg.payload.voltBC,\n//             voltCA : msg.meteringMsg.payload.voltCA,\n//             voltAvgLL : msg.meteringMsg.payload.voltAvgLL,\n//             currA : msg.meteringMsg.payload.currA,\n//             currB : msg.meteringMsg.payload.currB,\n//             currC : msg.meteringMsg.payload.currC,\n//             currN : msg.meteringMsg.payload.currN,\n//             currAvg : msg.meteringMsg.payload.currAvg,\n//             freq : msg.meteringMsg.payload.freq,\n//             pf : msg.meteringMsg.payload.pf,\n//             kwTotal : msg.meteringMsg.payload.kWtotal,\n//             kvaTotal : msg.meteringMsg.payload.kVAtotal,\n//             kvarTotal : msg.meteringMsg.payload.kVARtotal,\n//             kvarhImport : msg.meteringMsg.payload.kvarh_import,\n//             kwhImport : msg.meteringMsg.payload.kwh_import,\n//             kwhExport : msg.meteringMsg.payload.kwh_export,\n//             kwh_total : msg.meteringMsg.payload.kwh_total,\n//         })\n//     }\n// }\n\nglobal.set(msg.payload.home, msg.meteringMsg.payload);\n// global.set(msg.payload.devIP, \"192.168.\" + msg.meteringMsg.payload.ipSegment3 + \".\" + msg.meteringMsg.payload.ipSegment4);\n\n// msg3 = {\n//     host : \"192.168.\" + msg.meteringMsg.payload.ipSegment3 + \".\" + msg.meteringMsg.payload.ipSegment4,\n//     _payload : msg.payload\n// }\n\nreturn [msg, msg4, msg2];","outputs":"3","noerr":0,"x":850,"y":680,"wires":[["135d011c.de669f","e2b2f1f5.5256d"],["50d5ddc8.6526ac"],["9579078f.172e28"]]},{"id":"e2b2f1f5.5256d","type":"debug","z":"935770f4.d25f08","name":"","active":true,"console":"false","complete":"meteringMsg","x":1090,"y":640,"wires":[]},{"id":"a9ff2f6a.f1ee68","type":"inject","z":"935770f4.d25f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":"20","x":217.5,"y":823.0833740234375,"wires":[["76b02eb6.b882b8","550bf834.214588","15963983.bdef16","d6ef38d4.325198","813a222e.ec25b8"]]},{"id":"c01bc6cd.7fd96","type":"function","z":"935770f4.d25f08","name":"100-198","func":"//  [\n//     9900,10000,10100,10200,10300,10400,10500,10600,10700,10800,10900,11000,\n//     11100,11200,11300,11400,11500,11600,11700,11800,11900,12000,\n//     12100,12200,12300,12400,12500,12600,12700,12800,12900,13000,\n//     13100,13200,13300,13400,13500,13600,13700,13800,13900,14000,\n//     14100,14200,14300,14400,14500,14600,14700,14800,14900,15000,\n//     15100,15200,15300,15400,15500,15600,15700,15800,15900,16000,\n//     16100,16200,16300,16400,16500,16600,16700,16800,16900,17000,\n//     17100,17200,17300,17400,17500,17600,17700,17800,17900,18000,\n//     18100,18200,18300,18400,18500,18600,18700,18800,18900,19000,\n//     19100,19200,19300,19400,19500,19600,19700\n//     ]\n\nmsg.iter = [\n    {start:9900,  name:\"metering100\", devSer:\"PCU18070186\", home:\"D80\"},\n    {start:10000, name:\"metering101\", devSer:\"PCU18070187\", home:\"D81\"},\n    {start:10100, name:\"metering102\", devSer:\"PCU18070188\", home:\"D82\"},\n    {start:10200, name:\"metering103\", devSer:\"PCU18070189\", home:\"D83\"},\n    {start:10300, name:\"metering104\", devSer:\"PCU18070190\", home:\"D84\"},\n    {start:10400, name:\"metering105\", devSer:\"PCU18070191\", home:\"D85\"},\n    {start:10500, name:\"metering106\", devSer:\"PCU18070192\", home:\"D86\"},\n    {start:10600, name:\"metering107\", devSer:\"PCU18070193\", home:\"D87\"},\n    {start:10700, name:\"metering108\", devSer:\"PCU18070194\", home:\"D88\"},\n    {start:10800, name:\"metering109\", devSer:\"PCU18070195\", home:\"D89\"},\n    {start:10900, name:\"metering110\", devSer:\"PCU18070196\", home:\"D90\"},\n    {start:11000, name:\"metering111\", devSer:\"PCU18070197\", home:\"DD01\"},\n    // {start:11100, name:\"metering112\", devSer:\"PCUXXXXXXXX\", },\n    {start:11200, name:\"metering113\", devSer:\"PCU18070198\", home:\"DD04\"},\n    // {start:11300, name:\"metering114\", devSer:\"PCUXXXXXXXX\", },\n    {start:11400, name:\"metering115\", devSer:\"PCU18070199\", home:\"DD05\"},\n    // {start:11500, name:\"metering116\", devSer:\"PCUXXXXXXXX\", },\n    {start:11600, name:\"metering117\", devSer:\"PCU18070200\", home:\"DD06\"},\n    // {start:11700, name:\"metering118\", devSer:\"PCUXXXXXXXX\", },\n    {start:11800, name:\"metering119\", devSer:\"PCU18070201\", home:\"DD07\"},\n    // {start:11900, name:\"metering120\", devSer:\"PCUXXXXXXXX\", },\n    {start:12000, name:\"metering121\", devSer:\"PCU18070202\", home:\"DD12\"},\n    // {start:12100, name:\"metering122\", devSer:\"PCUXXXXXXXX\", },\n    {start:12200, name:\"metering123\", devSer:\"PCU18070203\", home:\"DD13\"},\n    // {start:12300, name:\"metering124\", devSer:\"PCUXXXXXXXX\", },\n    {start:12400, name:\"metering125\", devSer:\"PCU18070204\", home:\"DD16\"},\n    // {start:12500, name:\"metering126\", devSer:\"PCUXXXXXXXX\", },\n    {start:12600, name:\"metering127\", devSer:\"PCU18070205\", home:\"E02\"},\n    // {start:12700, name:\"metering128\", devSer:\"PCUXXXXXXXX\", },\n    {start:12800, name:\"metering129\", devSer:\"PCU18070206\", home:\"E03\"},\n    // {start:12900, name:\"metering130\", devSer:\"PCUXXXXXXXX\", },\n    {start:13000, name:\"metering131\", devSer:\"PCU18070207\", home:\"E04\"},\n    // {start:13100, name:\"metering132\", devSer:\"PCUXXXXXXXX\", },\n    {start:13200, name:\"metering133\", devSer:\"PCU18070208\", home:\"E05\"},\n    // {start:13300, name:\"metering134\", devSer:\"PCUXXXXXXXX\", },\n    {start:13400, name:\"metering135\", devSer:\"PCU18070209\", home:\"E06\"},\n    // {start:13500, name:\"metering136\", devSer:\"PCUXXXXXXXX\", },\n    {start:13600, name:\"metering137\", devSer:\"PCU18070210\", home:\"E07\"},\n    // {start:13700, name:\"metering138\", devSer:\"PCUXXXXXXXX\", },\n    {start:13800, name:\"metering139\", devSer:\"PCU18070211\", home:\"E08\"},\n    // {start:13900, name:\"metering140\", devSer:\"PCUXXXXXXXX\", },\n    {start:14000, name:\"metering141\", devSer:\"PCU18070212\", home:\"E09\"},\n    // {start:14100, name:\"metering142\", devSer:\"PCUXXXXXXXX\", },\n    {start:14200, name:\"metering143\", devSer:\"PCU18070213\", home:\"E11\"},\n    // {start:14300, name:\"metering144\", devSer:\"PCUXXXXXXXX\", },\n    {start:14400, name:\"metering145\", devSer:\"PCU18070214\", home:\"E12\"},\n    // {start:14500, name:\"metering146\", devSer:\"PCUXXXXXXXX\", },\n    {start:14600, name:\"metering147\", devSer:\"PCU18070215\", home:\"E15\"},\n    // {start:14700, name:\"metering148\", devSer:\"PCUXXXXXXXX\", },\n    {start:14800, name:\"metering149\", devSer:\"PCU18070216\", home:\"E16\"},\n    // {start:14900, name:\"metering150\", devSer:\"PCUXXXXXXXX\", },\n    {start:15000, name:\"metering151\", devSer:\"PCU18070217\", home:\"E17\"},\n    // {start:15100, name:\"metering152\", devSer:\"PCUXXXXXXXX\", },\n    {start:15200, name:\"metering153\", devSer:\"PCU18070218\", home:\"E18\"},\n    // {start:15300, name:\"metering154\", devSer:\"PCUXXXXXXXX\", },\n    {start:15400, name:\"metering155\", devSer:\"PCU18070219\", home:\"E20\"},\n    // {start:15500, name:\"metering156\", devSer:\"PCUXXXXXXXX\", },\n    {start:15600, name:\"metering157\", devSer:\"PCU18070220\", home:\"E21\"},\n    // {start:15700, name:\"metering158\", devSer:\"PCUXXXXXXXX\", },\n    {start:15800, name:\"metering159\", devSer:\"PCU18070221\", home:\"E22\"},\n    // {start:15900, name:\"metering160\", devSer:\"PCUXXXXXXXX\", },\n    {start:16000, name:\"metering161\", devSer:\"PCU18070222\", home:\"E24\"},\n    // {start:16100, name:\"metering162\", devSer:\"PCUXXXXXXXX\", },\n    {start:16200, name:\"metering163\", devSer:\"PCU18070223\", home:\"E25\"},\n    // {start:16300, name:\"metering164\", devSer:\"PCUXXXXXXXX\", },\n    {start:16400, name:\"metering165\", devSer:\"PCU18070224\", home:\"E26\"},\n    // {start:16500, name:\"metering166\", devSer:\"PCUXXXXXXXX\", },\n    {start:16600, name:\"metering167\", devSer:\"PCU18070225\", home:\"E27\"},\n    // {start:16700, name:\"metering168\", devSer:\"PCUXXXXXXXX\", },\n    {start:16800, name:\"metering169\", devSer:\"PCU18070226\", home:\"E28\"},\n    // {start:16900, name:\"metering170\", devSer:\"PCUXXXXXXXX\", },\n    {start:17000, name:\"metering171\", devSer:\"PCU18070227\", home:\"E29\"},\n    // {start:17100, name:\"metering172\", devSer:\"PCUXXXXXXXX\", },\n    {start:17200, name:\"metering173\", devSer:\"PCU18070228\", home:\"E30\"},\n    // {start:17300, name:\"metering174\", devSer:\"PCUXXXXXXXX\", },\n    {start:17400, name:\"metering175\", devSer:\"PCU18070229\", home:\"E31\"},\n    // {start:17500, name:\"metering176\", devSer:\"PCUXXXXXXXX\", },\n    {start:17600, name:\"metering177\", devSer:\"PCU18070230\", home:\"E32\"},\n    // {start:17700, name:\"metering178\", devSer:\"PCUXXXXXXXX\", },\n    {start:17800, name:\"metering179\", devSer:\"PCU18070231\", home:\"E33\"},\n    // {start:17900, name:\"metering180\", devSer:\"PCUXXXXXXXX\", },\n    {start:18000, name:\"metering181\", devSer:\"PCU18070232\", home:\"E34\"},\n    // {start:18100, name:\"metering182\", devSer:\"PCUXXXXXXXX\", },\n    {start:18200, name:\"metering183\", devSer:\"PCU18070233\", home:\"E35\"},\n    // {start:18300, name:\"metering184\", devSer:\"PCUXXXXXXXX\", },\n    {start:18400, name:\"metering185\", devSer:\"PCU18070234\", home:\"E36\"},\n    // {start:18500, name:\"metering186\", devSer:\"PCUXXXXXXXX\", },\n    {start:18600, name:\"metering187\", devSer:\"PCU18070235\", home:\"E37\"},\n    // {start:18700, name:\"metering188\", devSer:\"PCUXXXXXXXX\", },\n    {start:18800, name:\"metering189\", devSer:\"PCU18070236\", home:\"E38\"},\n    // {start:18900, name:\"metering190\", devSer:\"PCUXXXXXXXX\", },\n    {start:19000, name:\"metering191\", devSer:\"PCU18070237\", home:\"E39\"},\n    // {start:19100, name:\"metering192\", devSer:\"PCUXXXXXXXX\", },\n    {start:19200, name:\"metering193\", devSer:\"PCU18070238\", home:\"E40\"},\n    // {start:19300, name:\"metering194\", devSer:\"PCUXXXXXXXX\", },\n    {start:19400, name:\"metering195\", devSer:\"PCU18070239\", home:\"E41\"},\n    // {start:19500, name:\"metering196\", devSer:\"PCUXXXXXXXX\", },\n    {start:19600, name:\"metering197\", devSer:\"PCU18070240\", home:\"E42\"},\n    // {start:19700, name:\"metering198\", devSer:\"PCUXXXXXXXX\", }\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":740,"wires":[["135d011c.de669f"]]},{"id":"e36af22a.1c2c4","type":"function","z":"935770f4.d25f08","name":"199-297","func":"// [\n//     19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,\n//     21100,21200,21300,21400,21500,21600,21700,21800,21900,22000,\n//     22100,22200,22300,22400,22500,22600,22700,22800,22900,23000,\n//     23100,23200,23300,23400,23500,23600,23700,23800,23900,24000,\n//     24100,24200,24300,24400,24500,24600,24700,24800,24900,25000\n//     ]\n\nmsg.iter = [\n    {start:19800, name:\"metering199\", devSer:\"PCU18070241\", home:\"E43\"},\n    // {start:19900, name:\"metering200\", devSer:\"PCUXXXXXXXX\", },\n    {start:20000, name:\"metering201\", devSer:\"PCU18070242\", home:\"E44\"},\n    // {start:20100, name:\"metering202\", devSer:\"PCUXXXXXXXX\", },\n    {start:20200, name:\"metering203\", devSer:\"PCU18070243\", home:\"E45\"},\n    // {start:20300, name:\"metering204\", devSer:\"PCUXXXXXXXX\", },\n    {start:20400, name:\"metering205\", devSer:\"PCU18070244\", home:\"E46\"},\n    // {start:20500, name:\"metering206\", devSer:\"PCUXXXXXXXX\", },\n    {start:20600, name:\"metering207\", devSer:\"PCU18070245\", home:\"E47\"},\n    // {start:20700, name:\"metering208\", devSer:\"PCUXXXXXXXX\", },\n    {start:20800, name:\"metering209\", devSer:\"PCU18070246\", home:\"E48\"},\n    // {start:20900, name:\"metering210\", devSer:\"PCUXXXXXXXX\", },\n    {start:21000, name:\"metering211\", devSer:\"PCU18070247\", home:\"E50\"},\n    // {start:21100, name:\"metering212\", devSer:\"PCUXXXXXXXX\", },\n    {start:21200, name:\"metering213\", devSer:\"PCU18070248\", home:\"E51\"},\n    // {start:21300, name:\"metering214\", devSer:\"PCUXXXXXXXX\", },\n    {start:21400, name:\"metering215\", devSer:\"PCU18070249\", home:\"E52\"},\n    // {start:21500, name:\"metering216\", devSer:\"PCUXXXXXXXX\", },\n    {start:21600, name:\"metering217\", devSer:\"PCU18070250\", home:\"E53\"},\n    // {start:21700, name:\"metering218\", devSer:\"PCUXXXXXXXX\", },\n    {start:21800, name:\"metering219\", devSer:\"PCU18070251\", home:\"E54\"},\n    // {start:21900, name:\"metering220\", devSer:\"PCUXXXXXXXX\", },\n    {start:22000, name:\"metering221\", devSer:\"PCU18070252\", home:\"E56\"},\n    // {start:22100, name:\"metering222\", devSer:\"PCUXXXXXXXX\", },\n    {start:22200, name:\"metering223\", devSer:\"PCU18070253\", home:\"E57\"},\n    // {start:22300, name:\"metering224\", devSer:\"PCUXXXXXXXX\", },\n    {start:22400, name:\"metering225\", devSer:\"PCU18070254\", home:\"E58\"},\n    // {start:22500, name:\"metering226\", devSer:\"PCUXXXXXXXX\", },\n    {start:22600, name:\"metering227\", devSer:\"PCU18070255\", home:\"E60\"},\n    // {start:22700, name:\"metering228\", devSer:\"PCUXXXXXXXX\", },\n    // start of Block B, C, DD\n    {start:22800, name:\"metering229\", devSer:\"PCU18070001\", home:\"B01\"},\n    // {start:22900, name:\"metering230\", devSer:\"PCUXXXXXXXX\", },\n    {start:23000, name:\"metering231\", devSer:\"PCU18070002\", home:\"B02\"},\n    // {start:23100, name:\"metering232\", devSer:\"PCUXXXXXXXX\", },\n    {start:23200, name:\"metering233\", devSer:\"PCU18070003\", home:\"B03\"},\n    // {start:23300, name:\"metering234\", devSer:\"PCUXXXXXXXX\", },\n    {start:23400, name:\"metering235\", devSer:\"PCU18070004\", home:\"B04\"},\n    // {start:23500, name:\"metering236\", devSer:\"PCUXXXXXXXX\", },\n    {start:23600, name:\"metering237\", devSer:\"PCU18070005\", home:\"B05\"},\n    // {start:23700, name:\"metering238\", devSer:\"PCUXXXXXXXX\", },\n    {start:23800, name:\"metering239\", devSer:\"PCU18070006\", home:\"B06\"},\n    // {start:23900, name:\"metering240\", devSer:\"PCUXXXXXXXX\", },\n    {start:24000, name:\"metering241\", devSer:\"PCU18070007\", home:\"B07\"},\n    // {start:24100, name:\"metering242\", devSer:\"PCUXXXXXXXX\", },\n    {start:24200, name:\"metering243\", devSer:\"PCU18070008\", home:\"B08\"},\n    // {start:24300, name:\"metering244\", devSer:\"PCUXXXXXXXX\", },\n    {start:24400, name:\"metering245\", devSer:\"PCU18070009\", home:\"B09\"},\n    // {start:24500, name:\"metering246\", devSer:\"PCUXXXXXXXX\", },\n    {start:24600, name:\"metering247\", devSer:\"PCU18070010\", home:\"B10\"},\n    // {start:24700, name:\"metering248\", devSer:\"PCUXXXXXXXX\", },\n    {start:24800, name:\"metering249\", devSer:\"PCU18070011\", home:\"B11\"},\n    // {start:24900, name:\"metering250\", devSer:\"PCUXXXXXXXX\", },\n    {start:25000, name:\"metering251\", devSer:\"PCU18070012\", home:\"B12\"},\n    // {start:25100, name:\"metering252\", devSer:\"PCUXXXXXXXX\", },\n    {start:25200, name:\"metering253\", devSer:\"PCU18070014\", home:\"B14\"},\n    // {start:25300, name:\"metering254\", devSer:\"PCUXXXXXXXX\", },\n    {start:25400, name:\"metering255\", devSer:\"PCU18070015\", home:\"B15\"},\n    // {start:25500, name:\"metering256\", devSer:\"PCUXXXXXXXX\", },\n    {start:25600, name:\"metering257\", devSer:\"PCU18070016\", home:\"B16\"},\n    // {start:25700, name:\"metering258\", devSer:\"PCUXXXXXXXX\", },\n    {start:25800, name:\"metering259\", devSer:\"PCU18070017\", home:\"B17\"},\n    // {start:25900, name:\"metering260\", devSer:\"PCUXXXXXXXX\", },\n    {start:26000, name:\"metering261\", devSer:\"PCU18070018\", home:\"C01\"},\n    // {start:26100, name:\"metering262\", devSer:\"PCUXXXXXXXX\", },\n    {start:26200, name:\"metering263\", devSer:\"PCU18070019\", home:\"C02\"},\n    // {start:26300, name:\"metering264\", devSer:\"PCUXXXXXXXX\", },\n    {start:26400, name:\"metering265\", devSer:\"PCU18070020\", home:\"C03\"},\n    // {start:26500, name:\"metering266\", devSer:\"PCUXXXXXXXX\", },\n    {start:26600, name:\"metering267\", devSer:\"PCU18070021\", home:\"C04\"},\n    // {start:26700, name:\"metering268\", devSer:\"PCUXXXXXXXX\", },\n    {start:26800, name:\"metering269\", devSer:\"PCU18070022\", home:\"C05\"},\n    // {start:26900, name:\"metering270\", devSer:\"PCUXXXXXXXX\", },\n    {start:27000, name:\"metering271\", devSer:\"PCU18070023\", home:\"C06\"},\n    // {start:27100, name:\"metering272\", devSer:\"PCUXXXXXXXX\", },\n    {start:27200, name:\"metering273\", devSer:\"PCU18070024\", home:\"C07\"},\n    // {start:27300, name:\"metering274\", devSer:\"PCUXXXXXXXX\", },\n    {start:27400, name:\"metering275\", devSer:\"PCU18070025\", home:\"C08\"},\n    // {start:27500, name:\"metering276\", devSer:\"PCUXXXXXXXX\", },\n    {start:27600, name:\"metering277\", devSer:\"PCU18070026\", home:\"C09\"},\n    // {start:27700, name:\"metering278\", devSer:\"PCUXXXXXXXX\", },\n    {start:27800, name:\"metering279\", devSer:\"PCU18070027\", home:\"C10\"},\n    // {start:27900, name:\"metering280\", devSer:\"PCUXXXXXXXX\", },\n    {start:28000, name:\"metering281\", devSer:\"PCU18070028\", home:\"C11\"},\n    // {start:28100, name:\"metering282\", devSer:\"PCUXXXXXXXX\", },\n    {start:28200, name:\"metering283\", devSer:\"PCU18070029\", home:\"C12\"},\n    // {start:28300, name:\"metering284\", devSer:\"PCUXXXXXXXX\", },\n    {start:28400, name:\"metering285\", devSer:\"PCU18070030\", home:\"C13\"},\n    // {start:28500, name:\"metering286\", devSer:\"PCUXXXXXXXX\", },\n    {start:28600, name:\"metering287\", devSer:\"PCU18070031\", home:\"C14\"},\n    // {start:28700, name:\"metering288\", devSer:\"PCUXXXXXXXX\", },\n    {start:28800, name:\"metering289\", devSer:\"PCU18070032\", home:\"C15\"},\n    // {start:28900, name:\"metering290\", devSer:\"PCUXXXXXXXX\", },\n    {start:29000, name:\"metering291\", devSer:\"PCU18070033\", home:\"C16\"},\n    // {start:29100, name:\"metering292\", devSer:\"PCUXXXXXXXX\", },\n    {start:29200, name:\"metering293\", devSer:\"PCU18070034\", home:\"C17\"},\n    // {start:29300, name:\"metering294\", devSer:\"PCUXXXXXXXX\", },\n    {start:29400, name:\"metering295\", devSer:\"PCU18070035\", home:\"C18\"},\n    // {start:29500, name:\"metering296\", devSer:\"PCUXXXXXXXX\", },\n    {start:29600, name:\"metering297\", devSer:\"PCU18070036\", home:\"C19\"}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":840,"wires":[["135d011c.de669f"]]},{"id":"fb8b7862.435878","type":"function","z":"935770f4.d25f08","name":"298-396","func":"// [\n//     19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,\n//     21100,21200,21300,21400,21500,21600,21700,21800,21900,22000,\n//     22100,22200,22300,22400,22500,22600,22700,22800,22900,23000,\n//     23100,23200,23300,23400,23500,23600,23700,23800,23900,24000,\n//     24100,24200,24300,24400,24500,24600,24700,24800,24900,25000\n//     ]\n\nmsg.iter = [\n    // {start:29700, name:\"metering298\", devSer:\"PCUXXXXXXXX\",  },\n    {start:29800, name:\"metering299\", devSer:\"PCU18070037\", home:\"C20\"},\n    // {start:29900, name:\"metering300\", devSer:\"PCUXXXXXXXX\", },\n    {start:30000, name:\"metering301\", devSer:\"PCU18070038\", home:\"C21\"},\n    // {start:30100, name:\"metering302\", devSer:\"PCUXXXXXXXX\", },\n    {start:30200, name:\"metering303\", devSer:\"PCU18070039\", home:\"C22\"},\n    // {start:30300, name:\"metering304\", devSer:\"PCUXXXXXXXX\", },\n    {start:30400, name:\"metering305\", devSer:\"PCU18070040\", home:\"C24\"},\n    // {start:30500, name:\"metering306\", devSer:\"PCUXXXXXXXX\", },\n    {start:30600, name:\"metering307\", devSer:\"PCU18070041\", home:\"C25\"},\n    // {start:30700, name:\"metering308\", devSer:\"PCUXXXXXXXX\", },\n    {start:30800, name:\"metering309\", devSer:\"PCU18070042\", home:\"C26\"},\n    // {start:30900, name:\"metering310\", devSer:\"PCUXXXXXXXX\", },\n    {start:31000, name:\"metering311\", devSer:\"PCU18070043\", home:\"C27\"},\n    // {start:31100, name:\"metering312\", devSer:\"PCUXXXXXXXX\", },\n    {start:31200, name:\"metering313\", devSer:\"PCU18070044\", home:\"C28\"},\n    // {start:31300, name:\"metering314\", devSer:\"PCUXXXXXXXX\", },\n    {start:31400, name:\"metering315\", devSer:\"PCU18070045\", home:\"C29\"},\n    // {start:31500, name:\"metering316\", devSer:\"PCUXXXXXXXX\", },\n    {start:31600, name:\"metering317\", devSer:\"PCU18070046\", home:\"C30\"},\n    // {start:31700, name:\"metering318\", devSer:\"PCUXXXXXXXX\", },\n    {start:31800, name:\"metering319\", devSer:\"PCU18070047\", home:\"C31\"},\n    // {start:31900, name:\"metering320\", devSer:\"PCUXXXXXXXX\", },\n    {start:32000, name:\"metering321\", devSer:\"PCU18070048\", home:\"C32\"},\n    // {start:32100, name:\"metering322\", devSer:\"PCUXXXXXXXX\", },\n    {start:32200, name:\"metering323\", devSer:\"PCU18070049\", home:\"C33\"},\n    // {start:32300, name:\"metering324\", devSer:\"PCUXXXXXXXX\", },\n    {start:32400, name:\"metering325\", devSer:\"PCU18070050\", home:\"C35\"},\n    // {start:32500, name:\"metering326\", devSer:\"PCUXXXXXXXX\", },\n    {start:32600, name:\"metering327\", devSer:\"PCU18070051\", home:\"C36\"},\n    // {start:32700, name:\"metering328\", devSer:\"PCUXXXXXXXX\", },\n    {start:32800, name:\"metering329\", devSer:\"PCU18070052\", home:\"C38\"},\n    // {start:32900, name:\"metering330\", devSer:\"PCUXXXXXXXX\", },\n    {start:33000, name:\"metering331\", devSer:\"PCU18070053\", home:\"C39\"},\n    // {start:33100, name:\"metering332\", devSer:\"PCUXXXXXXXX\", },\n    {start:33200, name:\"metering333\", devSer:\"PCU18070054\", home:\"C40\"},\n    // {start:33300, name:\"metering334\", devSer:\"PCUXXXXXXXX\", },\n    {start:33400, name:\"metering335\", devSer:\"PCU18070055\", home:\"C41\"},\n    // {start:33500, name:\"metering336\", devSer:\"PCUXXXXXXXX\", },\n    {start:33600, name:\"metering337\", devSer:\"PCU18070056\", home:\"C43\"},\n    // {start:33700, name:\"metering338\", devSer:\"PCUXXXXXXXX\", },\n    {start:33800, name:\"metering339\", devSer:\"PCU18070057\", home:\"C44\"},\n    // {start:33900, name:\"metering340\", devSer:\"PCUXXXXXXXX\", },\n    {start:34000, name:\"metering341\", devSer:\"PCU18070058\", home:\"C45\"},\n    // {start:34100, name:\"metering342\", devSer:\"PCUXXXXXXXX\", },\n    {start:34200, name:\"metering343\", devSer:\"PCU18070059\", home:\"C47\"},\n    // {start:34300, name:\"metering344\", devSer:\"PCUXXXXXXXX\", },\n    {start:34400, name:\"metering345\", devSer:\"PCU18070060\", home:\"C48\"},\n    // {start:34500, name:\"metering346\", devSer:\"PCUXXXXXXXX\", },\n    {start:34600, name:\"metering347\", devSer:\"PCU18070061\", home:\"C50\"},\n    // {start:34700, name:\"metering348\", devSer:\"PCUXXXXXXXX\", },\n    {start:34800, name:\"metering349\", devSer:\"PCU18070062\", home:\"C51\"},\n    // {start:34900, name:\"metering350\", devSer:\"PCUXXXXXXXX\", },\n    {start:35000, name:\"metering351\", devSer:\"PCU18070063\", home:\"C52\"},\n    // {start:35100, name:\"metering352\", devSer:\"PCUXXXXXXXX\", },\n    {start:35200, name:\"metering353\", devSer:\"PCU18070064\", home:\"C53\"},\n    // {start:35300, name:\"metering354\", devSer:\"PCUXXXXXXXX\", },\n    {start:35400, name:\"metering355\", devSer:\"PCU18070065\", home:\"C54\"},\n    // {start:35500, name:\"metering356\", devSer:\"PCUXXXXXXXX\", },\n    {start:35600, name:\"metering357\", devSer:\"PCU18070066\", home:\"C55\"},\n    // {start:35700, name:\"metering358\", devSer:\"PCUXXXXXXXX\", },\n    {start:35800, name:\"metering359\", devSer:\"PCU18070067\", home:\"C56\"},\n    // {start:35900, name:\"metering360\", devSer:\"PCUXXXXXXXX\", },\n    {start:36000, name:\"metering361\", devSer:\"PCU18070068\", home:\"C57\"},\n    // {start:36100, name:\"metering362\", devSer:\"PCUXXXXXXXX\", },\n    {start:36200, name:\"metering363\", devSer:\"PCU18070069\", home:\"C58\"},\n    // {start:36300, name:\"metering364\", devSer:\"PCUXXXXXXXX\", },\n    {start:36400, name:\"metering365\", devSer:\"PCU18070070\", home:\"C59\"},\n    // {start:36500, name:\"metering366\", devSer:\"PCUXXXXXXXX\", },\n    {start:36600, name:\"metering367\", devSer:\"PCU18070071\", home:\"C60\"},\n    // {start:36700, name:\"metering368\", devSer:\"PCUXXXXXXXX\", },\n    {start:36800, name:\"metering369\", devSer:\"PCU18070072\", home:\"C61\"},\n    // {start:36900, name:\"metering370\", devSer:\"PCUXXXXXXXX\", },\n    {start:37000, name:\"metering371\", devSer:\"PCU18070073\", home:\"C63\"},\n    // {start:37100, name:\"metering372\", devSer:\"PCUXXXXXXXX\", },\n    {start:37200, name:\"metering373\", devSer:\"PCU18070074\", home:\"C65\"},\n    // {start:37300, name:\"metering374\", devSer:\"PCUXXXXXXXX\", },\n    {start:37400, name:\"metering375\", devSer:\"PCU18070075\", home:\"C66\"},\n    // {start:37500, name:\"metering376\", devSer:\"PCUXXXXXXXX\", },\n    {start:37600, name:\"metering377\", devSer:\"PCU18070076\", home:\"C67\"},\n    // {start:37700, name:\"metering378\", devSer:\"PCUXXXXXXXX\", },\n    {start:37800, name:\"metering379\", devSer:\"PCU18070077\", home:\"C68\"},\n    // {start:37900, name:\"metering380\", devSer:\"PCUXXXXXXXX\", },\n    {start:38000, name:\"metering381\", devSer:\"PCU18070078\", home:\"C69\"},\n    // {start:38100, name:\"metering382\", devSer:\"PCUXXXXXXXX\", },\n    {start:38200, name:\"metering383\", devSer:\"PCU18070079\", home:\"C70\"},\n    // {start:38300, name:\"metering384\", devSer:\"PCUXXXXXXXX\", },\n    {start:38400, name:\"metering385\", devSer:\"PCU18070080\", home:\"C71\"},\n    // {start:38500, name:\"metering386\", devSer:\"PCUXXXXXXXX\", },\n    {start:38600, name:\"metering387\", devSer:\"PCU18070081\", home:\"C72\"},\n    // {start:38700, name:\"metering388\", devSer:\"PCUXXXXXXXX\", },\n    {start:38800, name:\"metering389\", devSer:\"PCU18070082\", home:\"C73\"},\n    // {start:38900, name:\"metering390\", devSer:\"PCUXXXXXXXX\", },\n    {start:39000, name:\"metering391\", devSer:\"PCU18070083\", home:\"CC01\"},\n    // {start:39100, name:\"metering392\", devSer:\"PCUXXXXXXXX\", },\n    {start:39200, name:\"metering393\", devSer:\"PCU18070084\", home:\"CC02\"},\n    // {start:39300, name:\"metering394\", devSer:\"PCUXXXXXXXX\", },\n    {start:39400, name:\"metering395\", devSer:\"PCU18100001\", home:\"E01\"},\n    // {start:39500, name:\"metering396\", devSer:\"PCUXXXXXXXX\", }\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":900,"wires":[["135d011c.de669f"]]},{"id":"9579078f.172e28","type":"mqtt out","z":"935770f4.d25f08","name":"","topic":"","qos":"","retain":"","broker":"3c4041e3.5ec0f6","x":1050,"y":720,"wires":[]},{"id":"9e884c9a.956b1","type":"http in","z":"935770f4.d25f08","name":"getValues","url":"/getValues","method":"post","swaggerDoc":"","x":180,"y":1160,"wires":[["aadd70c9.6c8308"]]},{"id":"f5fc7f05.e49e2","type":"http response","z":"935770f4.d25f08","name":"","x":550,"y":1160,"wires":[]},{"id":"aadd70c9.6c8308","type":"function","z":"935770f4.d25f08","name":"","func":"msg.payload = global.get(msg.req.body.home)\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1160,"wires":[["604eb25e.9ac71c","f5fc7f05.e49e2"]]},{"id":"604eb25e.9ac71c","type":"debug","z":"935770f4.d25f08","name":"","active":true,"console":"false","complete":"false","x":570,"y":1120,"wires":[]},{"id":"50d5ddc8.6526ac","type":"file","z":"935770f4.d25f08","name":"","filename":"/home/root/.node-red/logFile.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1130,"y":680,"wires":[]},{"id":"faa2a311.fc082","type":"file","z":"935770f4.d25f08","name":"","filename":"/home/root/.node-red/logFile.txt","appendNewline":false,"createDir":false,"overwriteFile":"delete","x":510,"y":1760,"wires":[]},{"id":"68d8b303.c61854","type":"function","z":"935770f4.d25f08","name":"397-","func":"// [\n//     19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,\n//     21100,21200,21300,21400,21500,21600,21700,21800,21900,22000,\n//     22100,22200,22300,22400,22500,22600,22700,22800,22900,23000,\n//     23100,23200,23300,23400,23500,23600,23700,23800,23900,24000,\n//     24100,24200,24300,24400,24500,24600,24700,24800,24900,25000\n//     ]\n\nmsg.iter = [\n    {start:39600,   name:\"metering397\", devSer:\"PCU18100002\", home:\"E10\"},\n    // {start:39700,   name:\"metering398\", devSer:\"PCUXXXXXXXX\", },\n    {start:39800,   name:\"metering399\", devSer:\"PCU18100003\", home:\"E13\"},\n    // {start:39900, name:\"metering400\", devSer:\"PCUXXXXXXXX\", },\n    {start:40000, name:\"metering401\", devSer:\"PCU18100004\", home:\"E14\"},\n    // {start:40100, name:\"metering402\", devSer:\"PCUXXXXXXXX\", },\n    {start:40200, name:\"metering403\", devSer:\"PCU18100005\", home:\"E19\"},\n    // {start:40300, name:\"metering404\", devSer:\"PCUXXXXXXXX\", },\n    {start:40400, name:\"metering405\", devSer:\"PCU18100006\", home:\"E23\"},\n    // {start:40500, name:\"metering406\", devSer:\"PCUXXXXXXXX\", },\n    {start:40600, name:\"metering407\", devSer:\"PCU18100007\", home:\"E34\"},\n    // {start:40700, name:\"metering408\", devSer:\"PCUXXXXXXXX\", },\n    {start:40800, name:\"metering409\", devSer:\"PCU18100008\", home:\"E47\"},\n    // {start:40900, name:\"metering410\", devSer:\"PCUXXXXXXXX\", },\n    {start:41000, name:\"metering411\", devSer:\"PCU18100009\", home:\"E49\"},\n    // {start:41100, name:\"metering412\", devSer:\"PCUXXXXXXXX\", },\n    {start:41200, name:\"metering413\", devSer:\"PCU18100010\", home:\"E55\"},\n    // {start:41300, name:\"metering414\", devSer:\"PCUXXXXXXXX\", },\n    {start:41400, name:\"metering415\", devSer:\"PCU18100011\", home:\"E59\"},\n    // {start:41500, name:\"metering416\", devSer:\"PCUXXXXXXXX\", },\n    {start:41600, name:\"metering417\", devSer:\"PCU18100012\", home:\"D07\"},\n    // {start:41700, name:\"metering418\", devSer:\"PCUXXXXXXXX\", },\n    {start:41800, name:\"metering419\", devSer:\"PCU18100013\", home:\"D35\"},\n    // {start:41900, name:\"metering420\", devSer:\"PCUXXXXXXXX\", },\n    {start:42000, name:\"metering421\", devSer:\"PCU18100014\", home:\"D38B\"},\n    // {start:42100, name:\"metering422\", devSer:\"PCUXXXXXXXX\", },\n    {start:42200, name:\"metering423\", devSer:\"PCU18100015\", home:\"D45\"},\n    // {start:42300, name:\"metering424\", devSer:\"PCUXXXXXXXX\", },\n    {start:42400, name:\"metering425\", devSer:\"PCU18100016\", home:\"D51\"},\n    // {start:42500, name:\"metering426\", devSer:\"PCUXXXXXXXX\", },\n    {start:42600, name:\"metering427\", devSer:\"PCU18100017\", home:\"D65\"},\n    // {start:42700, name:\"metering428\", devSer:\"PCUXXXXXXXX\", },\n    {start:42800, name:\"metering429\", devSer:\"PCU18100018\", home:\"D34\"},\n    // {start:42900, name:\"metering430\", devSer:\"PCUXXXXXXXX\", },\n    {start:43000, name:\"metering431\", devSer:\"PCU18100019\", home:\"C37\"},\n    // {start:43100, name:\"metering432\", devSer:\"PCUXXXXXXXX\", },\n    {start:43200, name:\"metering433\", devSer:\"PCU18100020\", home:\"C46\"},\n    // {start:43300, name:\"metering434\", devSer:\"PCUXXXXXXXX\", },\n    {start:43400, name:\"metering435\", devSer:\"PCU18100021\", home:\"C49\"},\n    // {start:43500, name:\"metering436\", devSer:\"PCUXXXXXXXX\", },\n    {start:43600, name:\"metering437\", devSer:\"PCU18100022\", home:\"C74\"},\n    // {start:43700, name:\"metering438\", devSer:\"PCUXXXXXXXX\", },\n    {start:43800, name:\"metering439\", devSer:\"PCU18100023\", home:\"C75\"},\n    // {start:43900, name:\"metering440\", devSer:\"PCUXXXXXXXX\", },\n    // {start:44000, name:\"metering441\", devSer:\"PCUXXXXXXXX\", },\n    // {start:44100, name:\"metering442\", devSer:\"PCUXXXXXXXX\", },\n    // {start:44200, name:\"metering443\", devSer:\"PCUXXXXXXXX\", },\n    // {start:44300, name:\"metering444\", devSer:\"PCUXXXXXXXX\", },\n    // {start:44400, name:\"metering445\", devSer:\"PCUXXXXXXXX\", },\n    \n    ]\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":980,"wires":[["135d011c.de669f"]]},{"id":"1cc9736e.1fa88d","type":"function","z":"935770f4.d25f08","name":"SELECT * population","func":"var newMsg = {\n \"topic\": \"SELECT * FROM population\"\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["fdb4cfd9.10c4b8"]]},{"id":"fdb4cfd9.10c4b8","type":"sqlite","z":"935770f4.d25f08","mydb":"4ebce947.c8c54","sqlquery":"msg.topic","sql":"","name":"","x":770,"y":100,"wires":[["2dc7fa2a.d64066"]]},{"id":"2dc7fa2a.d64066","type":"function","z":"935770f4.d25f08","name":"To Global DB","func":"global.set('globalPopDB', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":100,"wires":[[]]},{"id":"d6aec176.97fc1","type":"http in","z":"935770f4.d25f08","name":"getListMeter","url":"/getListMeter","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1260,"wires":[["f9190ce2.984158"]]},{"id":"530036ce.570fa","type":"http response","z":"935770f4.d25f08","name":"","x":550,"y":1260,"wires":[]},{"id":"f9190ce2.984158","type":"function","z":"935770f4.d25f08","name":"","func":"msg.payload = global.get('globalPopDB')\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1260,"wires":[["8d53d64c.26563","530036ce.570fa"]]},{"id":"8d53d64c.26563","type":"debug","z":"935770f4.d25f08","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":570,"y":1220,"wires":[]},{"id":"1db51365.2e9c65","type":"inject","z":"935770f4.d25f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"864000","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1760,"wires":[["faa2a311.fc082"]]},{"id":"550bf834.214588","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":760,"wires":[["c01bc6cd.7fd96"]]},{"id":"15963983.bdef16","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":840,"wires":[["e36af22a.1c2c4"]]},{"id":"d6ef38d4.325198","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":900,"wires":[["fb8b7862.435878"]]},{"id":"813a222e.ec25b8","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":980,"wires":[["68d8b303.c61854"]]},{"id":"7eb71573.3192dc","type":"http in","z":"935770f4.d25f08","name":"Reboot Program","url":"/rebootProgram","method":"post","swaggerDoc":"","x":200,"y":1560,"wires":[["8389df7b.1a5bc"]]},{"id":"a3554c6a.48dbc","type":"http in","z":"935770f4.d25f08","name":"OS Info","url":"/osInfo","method":"post","swaggerDoc":"","x":170,"y":1340,"wires":[["5a3ed05d.840798","fc18a0b6.bbc8b"]]},{"id":"5a3ed05d.840798","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":false,"complete":"false","x":410,"y":1340,"wires":[]},{"id":"fc18a0b6.bbc8b","type":"function","z":"935770f4.d25f08","name":"","func":"msg.payload = {\n    \"general\" : global.get('osGLOBAL'),\n    \"network\" : global.get('osNETWORK'),\n    \"memory\" : global.get('osMEM'),\n    \"uptime\" : global.get('osUPTIME')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1380,"wires":[["e7a39599.7eca5"]]},{"id":"72fe4884.759108","type":"http in","z":"935770f4.d25f08","name":"Test PING","url":"/testPING","method":"post","swaggerDoc":"","x":180,"y":1440,"wires":[["3a7e5bb3.beb2e4","8631e12.cf119a"]]},{"id":"3a7e5bb3.beb2e4","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":false,"complete":"false","x":410,"y":1440,"wires":[]},{"id":"8631e12.cf119a","type":"function","z":"935770f4.d25f08","name":"","func":"msg.host = msg.payload.IPADDRESS\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1480,"wires":[["a717817c.98203"]]},{"id":"a717817c.98203","type":"adv ping","z":"935770f4.d25f08","name":"","host":"","x":600,"y":1480,"wires":[["e7a39599.7eca5"]]},{"id":"e7a39599.7eca5","type":"http response","z":"935770f4.d25f08","name":"","x":890,"y":1480,"wires":[]},{"id":"8389df7b.1a5bc","type":"exec","z":"935770f4.d25f08","command":"pm2 restart 0","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":420,"y":1560,"wires":[["c85e1a94.32da8"],["4d65dd8.4b628a4"],["8702b58.2e20748"]]},{"id":"c85e1a94.32da8","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"true","x":657.5,"y":1528.5,"wires":[]},{"id":"4d65dd8.4b628a4","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"true","x":661.5,"y":1568.5,"wires":[]},{"id":"8702b58.2e20748","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"true","x":662.5,"y":1613.5,"wires":[]},{"id":"97b5f853.d2a278","type":"OS","z":"935770f4.d25f08","name":"","x":410,"y":160,"wires":[["72acbdb.5c83fc4","aee51c85.ae33a8","e7efe772.773358"]]},{"id":"72acbdb.5c83fc4","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"payload","x":590.5,"y":150,"wires":[]},{"id":"4b6cb057.6cc538","type":"inject","z":"935770f4.d25f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":260,"wires":[["97b5f853.d2a278","3429c23b.534a8e","3d4afdf2.440f7a","6ba6098e.db30d8","2495da47.9ecbee","eed9927c.5aaff8","1cc9736e.1fa88d"]]},{"id":"3429c23b.534a8e","type":"CPUs","z":"935770f4.d25f08","name":"","x":405,"y":344,"wires":[["c5c513fc.3dc1f","1d479fba.a6875"]]},{"id":"3d4afdf2.440f7a","type":"Memory","z":"935770f4.d25f08","name":"","x":412,"y":391,"wires":[["1b77fb99.d8f12c","875a7ff0.093d"]]},{"id":"6ba6098e.db30d8","type":"Uptime","z":"935770f4.d25f08","name":"","x":411,"y":433,"wires":[["4e9bbc9d.ed8dd4","8dcf797f.63f428"]]},{"id":"2495da47.9ecbee","type":"NetworkIntf","z":"935770f4.d25f08","name":"","x":429,"y":207,"wires":[["776b996.0759fe8","1f21eda5.b04c4a"]]},{"id":"eed9927c.5aaff8","type":"Drives","z":"935770f4.d25f08","name":"","x":407,"y":303,"wires":[["89db8005.c18aa8","3f649a34.f177fe"]]},{"id":"c5c513fc.3dc1f","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"payload","x":584.5,"y":332,"wires":[]},{"id":"1b77fb99.d8f12c","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"payload","x":588.5,"y":386,"wires":[]},{"id":"4e9bbc9d.ed8dd4","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"payload","x":592.5,"y":434,"wires":[]},{"id":"776b996.0759fe8","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"payload","x":611.5,"y":211,"wires":[]},{"id":"89db8005.c18aa8","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"payload","x":584.5,"y":289,"wires":[]},{"id":"c3263a3c.913848","type":"debug","z":"935770f4.d25f08","name":"","active":true,"console":"false","complete":"payload","x":1135.5,"y":262,"wires":[]},{"id":"3cdb1e29.45020a","type":"function","z":"935770f4.d25f08","name":"MAC UPPERCASE","func":"var msgU = { payload : msg.payload.networkInterfaces.eth0[0].mac };\n// var msgU = { payload : msg.payload.networkInterfaces.eth1[0].mac };\n\n// global.set('globalMAC', msg.payload.networkInterfaces.eth1[0].mac);\nglobal.set('globalMAC', msg.payload.networkInterfaces.eth0[0].mac);\nreturn msgU;","outputs":1,"noerr":0,"x":943,"y":263,"wires":[["c3263a3c.913848"]]},{"id":"da68656b.628e18","type":"function","z":"935770f4.d25f08","name":"IP UPPERCASE","func":"global.set('osNETWORK', msg.payload);\nglobal.set('globalIP', msg.payload.networkInterfaces.eth0[0].address);\n// global.set('globalIP', msg.payload.networkInterfaces.eth1[0].address);\nreturn msg;","outputs":1,"noerr":0,"x":960.3333206176758,"y":222.49999523162842,"wires":[[]]},{"id":"aee51c85.ae33a8","type":"string","z":"935770f4.d25f08","name":"","methods":[{"name":"left","params":[{"type":"num","value":"6"}]},{"name":"replaceAll","params":[{"type":"str","value":"."},{"type":"str","value":""}]}],"prop":"payload.release","propout":"rls","object":"msg","objectout":"msg","x":785.5,"y":147,"wires":[["2bc6f6f5.b53552"]]},{"id":"9fe86cb1.cb93e","type":"debug","z":"935770f4.d25f08","name":"","active":false,"console":"false","complete":"true","x":1052.5,"y":143,"wires":[]},{"id":"2bc6f6f5.b53552","type":"function","z":"935770f4.d25f08","name":"VER","func":"global.set('globalVER', msg.payload.arch.toUpperCase() + \"-\" + msg.rls);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":169,"wires":[["9fe86cb1.cb93e"]]},{"id":"e7efe772.773358","type":"function","z":"935770f4.d25f08","name":"os_global","func":"global.set('osGLOBAL', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":579.5,"y":163,"wires":[[]]},{"id":"3f649a34.f177fe","type":"function","z":"935770f4.d25f08","name":"os_drive","func":"global.set('osDRIVE', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":554.5,"y":275,"wires":[[]]},{"id":"1d479fba.a6875","type":"function","z":"935770f4.d25f08","name":"os_cpu","func":"global.set('osCPU', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":555.5,"y":332,"wires":[[]]},{"id":"875a7ff0.093d","type":"function","z":"935770f4.d25f08","name":"os_mem","func":"global.set('osMEM', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":558.5,"y":377,"wires":[[]]},{"id":"8dcf797f.63f428","type":"function","z":"935770f4.d25f08","name":"os_uptime","func":"global.set('osUPTIME', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":574.5,"y":427,"wires":[[]]},{"id":"1e22e405.a0e7c4","type":"string","z":"935770f4.d25f08","name":"ipprefix","methods":[{"name":"splitLeft","params":[{"type":"str","value":"."},{"type":"num","value":"-1"},{"type":"num","value":"4"}]}],"prop":"payload.networkInterfaces.eth0[0].address","propout":"payload","object":"msg","objectout":"msg","x":960.3333206176758,"y":302.4999952316284,"wires":[["cf6e08ad.af4ed8"]]},{"id":"cf2884c0.c3bd2","type":"debug","z":"935770f4.d25f08","name":"","active":true,"console":"false","complete":"true","x":1030,"y":420,"wires":[]},{"id":"cf6e08ad.af4ed8","type":"function","z":"935770f4.d25f08","name":"IP UPPERCASE","func":"global.set('globalDevIP', msg.payload[0] + \".\" + msg.payload[1] + \".\");\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":360,"wires":[["cf2884c0.c3bd2"]]},{"id":"1f21eda5.b04c4a","type":"switch","z":"935770f4.d25f08","name":"","property":"payload.networkInterfaces.eth0","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"false","outputs":1,"x":730.3333206176758,"y":242.49999523162842,"wires":[["1e22e405.a0e7c4","3cdb1e29.45020a","da68656b.628e18"]]},{"id":"62f88883.a95c48","type":"http in","z":"935770f4.d25f08","name":"Reset Log FIle","url":"/resetLogFIle","method":"post","upload":false,"swaggerDoc":"","x":230,"y":1700,"wires":[["9661cc4b.052008","faa2a311.fc082"]]},{"id":"9661cc4b.052008","type":"http response","z":"935770f4.d25f08","name":"","x":430,"y":1700,"wires":[]},{"id":"27b84f10.7694a","type":"http in","z":"935770f4.d25f08","name":"Get Log FIle","url":"/getLogFIle","method":"post","upload":false,"swaggerDoc":"","x":230,"y":1900,"wires":[["42e60471.a04e84"]]},{"id":"42e60471.a04e84","type":"file in","z":"935770f4.d25f08","name":"","filename":"/home/root/.node-red/logFile.txt","format":"utf8","chunk":false,"sendError":false,"x":490,"y":1900,"wires":[["1bdd633.8eb0b1d"]]},{"id":"e1b73cfb.9c509","type":"http response","z":"935770f4.d25f08","name":"","x":890,"y":1900,"wires":[]},{"id":"1bdd633.8eb0b1d","type":"function","z":"935770f4.d25f08","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1900,"wires":[["e1b73cfb.9c509"]]},{"id":"3c4041e3.5ec0f6","type":"mqtt-broker","z":"","name":"","broker":"128.199.97.189","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"deviceStatus","birthQos":"2","birthRetain":"false","birthPayload":"{\"status\" : \"online\", \"who\" : \"PERUMPKC\"}","closeTopic":"","closePayload":"","willTopic":"deviceStatus","willQos":"0","willRetain":"false","willPayload":"{\"status\" : \"offline\", \"who\" : \"PERUMPKC\"}"},{"id":"4ebce947.c8c54","type":"sqlitedb","z":"","db":"/home/root/.node-red/perumpkc.db"}]