iot2.json
[{"id":"135d011c.de669f","type":"Serial Iterator","z":"935770f4.d25f08","name":"","property":"iter","inputFlow":"input","saveOutput":0,"recursive":0,"storeId":0,"x":810,"y":540,"wires":[["b6c6f0fd.ec687"],[]]},{"id":"76b02eb6.b882b8","type":"function","z":"935770f4.d25f08","name":"001-099","func":"//  [\n//     0,100,200,300,400,500,600,700,800,900,1000,\n//     1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,\n//     2100,2200,2300,2400,2500,2600,2700,2800,2900,3000,\n//     3100,3200,3300,3400,3500,3600,3700,3800,3900,4000,\n//     4100,4200,4300,4400,4500,4600,4700,4800,4900,5000,\n//     5100,5200,5300,5400,5500,5600,5700,5800,5900,6000,\n//     6100,6200,6300,6400,6500,6600,6700,6800,6900,7000,\n//     7100,7200,7300,7400,7500,7600,7700,7800,7900,8000,\n//     8100,8200,8300,8400,8500,8600,8700,8800,8900,9000,\n//     9100,9200,9300,9400,9500,9600,9700,9800\n//     ]\n\nmsg.iter = [\n    {start:0,   name:\"metering001\", devSer:\"PCU18070093\", devIP:\"devIP001\", slaveR:\"slave001\", devPing:\"devPing001\"},\n    {start:100, name:\"metering002\", devSer:\"PCU18070094\", devIP:\"devIP002\", slaveR:\"slave002\", devPing:\"devPing002\"},\n    {start:200, name:\"metering003\", devSer:\"PCU18070095\", devIP:\"devIP003\", slaveR:\"slave003\", devPing:\"devPing003\"},\n    {start:300, name:\"metering004\", devSer:\"PCU18070096\", devIP:\"devIP004\", slaveR:\"slave004\", devPing:\"devPing004\"},\n    {start:400, name:\"metering005\", devSer:\"PCU18070097\", devIP:\"devIP005\", slaveR:\"slave005\", devPing:\"devPing005\"},\n    {start:500, name:\"metering006\", devSer:\"PCU18070098\", devIP:\"devIP006\", slaveR:\"slave006\", devPing:\"devPing006\"},\n    {start:600, name:\"metering007\", devSer:\"PCU18070099\", devIP:\"devIP007\", slaveR:\"slave007\", devPing:\"devPing007\"},\n    {start:700, name:\"metering008\", devSer:\"PCU18070100\", devIP:\"devIP008\", slaveR:\"slave008\", devPing:\"devPing008\"},\n    {start:800, name:\"metering009\", devSer:\"PCU18070101\", devIP:\"devIP009\", slaveR:\"slave009\", devPing:\"devPing009\"},\n    {start:900, name:\"metering010\", devSer:\"PCU18070102\", devIP:\"devIP010\", slaveR:\"slave010\", devPing:\"devPing010\"},\n    {start:1000, name:\"metering011\", devSer:\"PCU18070103\", devIP:\"devIP011\", slaveR:\"slave011\", devPing:\"devPing011\"},\n    {start:1100, name:\"metering012\", devSer:\"na\", devIP:\"devIP012\", slaveR:\"slave012\", devPing:\"devPing012\"},\n    {start:1200, name:\"metering013\", devSer:\"PCU18070104\", devIP:\"devIP013\", slaveR:\"slave013\", devPing:\"devPing013\"},\n    {start:1300, name:\"metering014\", devSer:\"PCU18070105\", devIP:\"devIP014\", slaveR:\"slave014\", devPing:\"devPing014\"},\n    {start:1400, name:\"metering015\", devSer:\"PCU18070106\", devIP:\"devIP015\", slaveR:\"slave015\", devPing:\"devPing015\"},\n    {start:1500, name:\"metering016\", devSer:\"PCU18070107\", devIP:\"devIP016\", slaveR:\"slave016\", devPing:\"devPing016\"},\n    {start:1600, name:\"metering017\", devSer:\"PCU18070108\", devIP:\"devIP017\", slaveR:\"slave017\", devPing:\"devPing017\"},\n    {start:1700, name:\"metering018\", devSer:\"PCU18070109\", devIP:\"devIP018\", slaveR:\"slave018\", devPing:\"devPing018\"},\n    {start:1800, name:\"metering019\", devSer:\"PCU18070110\", devIP:\"devIP019\", slaveR:\"slave019\", devPing:\"devPing019\"},\n    {start:1900, name:\"metering020\", devSer:\"PCU18070111\", devIP:\"devIP020\", slaveR:\"slave020\", devPing:\"devPing020\"},\n    {start:2000, name:\"metering021\", devSer:\"PCU18070112\", devIP:\"devIP021\", slaveR:\"slave021\", devPing:\"devPing021\"},\n    {start:2100, name:\"metering022\", devSer:\"PCU18070113\", devIP:\"devIP022\", slaveR:\"slave022\", devPing:\"devPing022\"},\n    {start:2200, name:\"metering023\", devSer:\"PCU18070114\", devIP:\"devIP023\", slaveR:\"slave023\", devPing:\"devPing023\"},\n    {start:2300, name:\"metering024\", devSer:\"PCU18070115\", devIP:\"devIP024\", slaveR:\"slave024\", devPing:\"devPing024\"},\n    {start:2400, name:\"metering025\", devSer:\"PCU18070116\", devIP:\"devIP025\", slaveR:\"slave025\", devPing:\"devPing025\"},\n    {start:2500, name:\"metering026\", devSer:\"PCU18070117\", devIP:\"devIP026\", slaveR:\"slave026\", devPing:\"devPing026\"},\n    {start:2600, name:\"metering027\", devSer:\"PCU18070118\", devIP:\"devIP027\", slaveR:\"slave027\", devPing:\"devPing027\"},\n    {start:2700, name:\"metering028\", devSer:\"PCU18070119\", devIP:\"devIP028\", slaveR:\"slave028\", devPing:\"devPing028\"},\n    {start:2800, name:\"metering029\", devSer:\"PCU18070120\", devIP:\"devIP029\", slaveR:\"slave029\", devPing:\"devPing029\"},\n    {start:2900, name:\"metering030\", devSer:\"PCU18070121\", devIP:\"devIP030\", slaveR:\"slave030\", devPing:\"devPing030\"},\n    {start:3000, name:\"metering031\", devSer:\"PCU18070122\", devIP:\"devIP031\", slaveR:\"slave031\", devPing:\"devPing031\"},\n    {start:3100, name:\"metering032\", devSer:\"PCU18070123\", devIP:\"devIP032\", slaveR:\"slave032\", devPing:\"devPing032\"},\n    {start:3200, name:\"metering033\", devSer:\"PCU18070124\", devIP:\"devIP033\", slaveR:\"slave033\", devPing:\"devPing033\"},\n    {start:3300, name:\"metering034\", devSer:\"PCU18070125\", devIP:\"devIP034\", slaveR:\"slave034\", devPing:\"devPing034\"},\n    {start:3400, name:\"metering035\", devSer:\"PCU18070126\", devIP:\"devIP035\", slaveR:\"slave035\", devPing:\"devPing035\"},\n    {start:3500, name:\"metering036\", devSer:\"PCU18070127\", devIP:\"devIP036\", slaveR:\"slave036\", devPing:\"devPing036\"},\n    {start:3600, name:\"metering037\", devSer:\"PCU18070128\", devIP:\"devIP037\", slaveR:\"slave037\", devPing:\"devPing037\"},\n    {start:3700, name:\"metering038\", devSer:\"PCU18070129\", devIP:\"devIP038\", slaveR:\"slave038\", devPing:\"devPing038\"},\n    {start:3800, name:\"metering039\", devSer:\"PCU18070130\", devIP:\"devIP039\", slaveR:\"slave039\", devPing:\"devPing039\"},\n    {start:3900, name:\"metering040\", devSer:\"PCU18070131\", devIP:\"devIP040\", slaveR:\"slave040\", devPing:\"devPing040\"},\n    {start:4000, name:\"metering041\", devSer:\"PCU18070132\", devIP:\"devIP041\", slaveR:\"slave041\", devPing:\"devPing041\"},\n    {start:4100, name:\"metering042\", devSer:\"PCU18070133\", devIP:\"devIP042\", slaveR:\"slave042\", devPing:\"devPing042\"},\n    {start:4200, name:\"metering043\", devSer:\"PCU18070134\", devIP:\"devIP043\", slaveR:\"slave043\", devPing:\"devPing043\"},\n    {start:4300, name:\"metering044\", devSer:\"na\", devIP:\"devIP044\", slaveR:\"slave044\", devPing:\"devPing044\"},\n    {start:4400, name:\"metering045\", devSer:\"PCU18070135\", devIP:\"devIP045\", slaveR:\"slave045\", devPing:\"devPing045\"},\n    {start:4500, name:\"metering046\", devSer:\"PCU18070136\", devIP:\"devIP046\", slaveR:\"slave046\", devPing:\"devPing046\"},\n    {start:4600, name:\"metering047\", devSer:\"PCU18070137\", devIP:\"devIP047\", slaveR:\"slave047\", devPing:\"devPing047\"},\n    {start:4700, name:\"metering048\", devSer:\"na\", devIP:\"devIP048\", slaveR:\"slave048\", devPing:\"devPing048\"},\n    {start:4800, name:\"metering049\", devSer:\"PCU18070138\", devIP:\"devIP049\", slaveR:\"slave049\", devPing:\"devPing049\"},\n    {start:4900, name:\"metering050\", devSer:\"PCU18070139\", devIP:\"devIP050\", slaveR:\"slave050\", devPing:\"devPing050\"},\n    {start:5000, name:\"metering051\", devSer:\"PCU18070140\", devIP:\"devIP051\", slaveR:\"slave051\", devPing:\"devPing051\"},\n    {start:5100, name:\"metering052\", devSer:\"PCU18070141\", devIP:\"devIP052\", slaveR:\"slave052\", devPing:\"devPing052\"},\n    {start:5200, name:\"metering053\", devSer:\"PCU18070142\", devIP:\"devIP053\", slaveR:\"slave053\", devPing:\"devPing053\"},\n    {start:5300, name:\"metering054\", devSer:\"PCU18070143\", devIP:\"devIP054\", slaveR:\"slave054\", devPing:\"devPing054\"},\n    {start:5400, name:\"metering055\", devSer:\"PCU18070144\", devIP:\"devIP055\", slaveR:\"slave055\", devPing:\"devPing055\"},\n    {start:5500, name:\"metering056\", devSer:\"PCU18070145\", devIP:\"devIP056\", slaveR:\"slave056\", devPing:\"devPing056\"},\n    {start:5600, name:\"metering057\", devSer:\"PCU18070146\", devIP:\"devIP057\", slaveR:\"slave057\", devPing:\"devPing057\"},\n    {start:5700, name:\"metering058\", devSer:\"na\", devIP:\"devIP058\", slaveR:\"slave058\", devPing:\"devPing058\"},\n    {start:5800, name:\"metering059\", devSer:\"PCU18070147\", devIP:\"devIP059\", slaveR:\"slave059\", devPing:\"devPing059\"},\n    {start:5900, name:\"metering060\", devSer:\"PCU18070148\", devIP:\"devIP060\", slaveR:\"slave060\", devPing:\"devPing060\"},\n    {start:6000, name:\"metering061\", devSer:\"PCU18070149\", devIP:\"devIP061\", slaveR:\"slave061\", devPing:\"devPing061\"},\n    {start:6100, name:\"metering062\", devSer:\"PCU18070150\", devIP:\"devIP062\", slaveR:\"slave062\", devPing:\"devPing062\"},\n    {start:6200, name:\"metering063\", devSer:\"PCU18070151\", devIP:\"devIP063\", slaveR:\"slave063\", devPing:\"devPing063\"},\n    {start:6300, name:\"metering064\", devSer:\"na\", devIP:\"devIP064\", slaveR:\"slave064\", devPing:\"devPing064\"},\n    {start:6400, name:\"metering065\", devSer:\"PCU18070152\", devIP:\"devIP065\", slaveR:\"slave065\", devPing:\"devPing065\"},\n    {start:6500, name:\"metering066\", devSer:\"PCU18070153\", devIP:\"devIP066\", slaveR:\"slave066\", devPing:\"devPing066\"},\n    {start:6600, name:\"metering067\", devSer:\"PCU18070154\", devIP:\"devIP067\", slaveR:\"slave067\", devPing:\"devPing067\"},\n    {start:6700, name:\"metering068\", devSer:\"PCU18070155\", devIP:\"devIP068\", slaveR:\"slave068\", devPing:\"devPing068\"},\n    {start:6800, name:\"metering069\", devSer:\"PCU18070156\", devIP:\"devIP069\", slaveR:\"slave069\", devPing:\"devPing069\"},\n    {start:6900, name:\"metering070\", devSer:\"PCU18070157\", devIP:\"devIP070\", slaveR:\"slave070\", devPing:\"devPing070\"},\n    {start:7000, name:\"metering071\", devSer:\"PCU18070158\", devIP:\"devIP071\", slaveR:\"slave071\", devPing:\"devPing071\"},\n    {start:7100, name:\"metering072\", devSer:\"PCU18070159\", devIP:\"devIP072\", slaveR:\"slave072\", devPing:\"devPing072\"},\n    {start:7200, name:\"metering073\", devSer:\"PCU18070160\", devIP:\"devIP073\", slaveR:\"slave073\", devPing:\"devPing073\"},\n    {start:7300, name:\"metering074\", devSer:\"PCU18070161\", devIP:\"devIP074\", slaveR:\"slave074\", devPing:\"devPing074\"},\n    {start:7400, name:\"metering075\", devSer:\"PCU18070162\", devIP:\"devIP075\", slaveR:\"slave075\", devPing:\"devPing075\"},\n    {start:7500, name:\"metering076\", devSer:\"PCU18070163\", devIP:\"devIP076\", slaveR:\"slave076\", devPing:\"devPing076\"},\n    {start:7600, name:\"metering077\", devSer:\"PCU18070164\", devIP:\"devIP077\", slaveR:\"slave077\", devPing:\"devPing077\"},\n    {start:7700, name:\"metering078\", devSer:\"PCU18070165\", devIP:\"devIP078\", slaveR:\"slave078\", devPing:\"devPing078\"},\n    {start:7800, name:\"metering079\", devSer:\"PCU18070166\", devIP:\"devIP079\", slaveR:\"slave079\", devPing:\"devPing079\"},\n    {start:7900, name:\"metering080\", devSer:\"PCU18070167\", devIP:\"devIP080\", slaveR:\"slave080\", devPing:\"devPing080\"},\n    {start:8000, name:\"metering081\", devSer:\"PCU18070168\", devIP:\"devIP081\", slaveR:\"slave081\", devPing:\"devPing081\"},\n    {start:8100, name:\"metering082\", devSer:\"na\", devIP:\"devIP082\", slaveR:\"slave082\", devPing:\"devPing082\"},\n    {start:8200, name:\"metering083\", devSer:\"PCU18070169\", devIP:\"devIP083\", slaveR:\"slave083\", devPing:\"devPing083\"},\n    {start:8300, name:\"metering084\", devSer:\"PCU18070170\", devIP:\"devIP084\", slaveR:\"slave084\", devPing:\"devPing084\"},\n    {start:8400, name:\"metering085\", devSer:\"PCU18070171\", devIP:\"devIP085\", slaveR:\"slave085\", devPing:\"devPing085\"},\n    {start:8500, name:\"metering086\", devSer:\"PCU18070172\", devIP:\"devIP086\", slaveR:\"slave086\", devPing:\"devPing086\"},\n    {start:8600, name:\"metering087\", devSer:\"PCU18070173\", devIP:\"devIP087\", slaveR:\"slave087\", devPing:\"devPing087\"},\n    {start:8700, name:\"metering088\", devSer:\"PCU18070174\", devIP:\"devIP088\", slaveR:\"slave088\", devPing:\"devPing088\"},\n    {start:8800, name:\"metering089\", devSer:\"PCU18070175\", devIP:\"devIP089\", slaveR:\"slave089\", devPing:\"devPing089\"},\n    {start:8900, name:\"metering090\", devSer:\"PCU18070176\", devIP:\"devIP090\", slaveR:\"slave090\", devPing:\"devPing090\"},\n    {start:9000, name:\"metering091\", devSer:\"PCU18070177\", devIP:\"devIP091\", slaveR:\"slave091\", devPing:\"devPing091\"},\n    {start:9100, name:\"metering092\", devSer:\"PCU18070178\", devIP:\"devIP092\", slaveR:\"slave092\", devPing:\"devPing092\"},\n    {start:9200, name:\"metering093\", devSer:\"PCU18070180\", devIP:\"devIP093\", slaveR:\"slave093\", devPing:\"devPing093\"},\n    {start:9300, name:\"metering094\", devSer:\"PCU18070181\", devIP:\"devIP094\", slaveR:\"slave094\", devPing:\"devPing094\"},\n    {start:9400, name:\"metering095\", devSer:\"PCU18070182\", devIP:\"devIP095\", slaveR:\"slave095\", devPing:\"devPing095\"},\n    {start:9500, name:\"metering096\", devSer:\"PCU18070183\", devIP:\"devIP096\", slaveR:\"slave096\", devPing:\"devPing096\"},\n    {start:9600, name:\"metering097\", devSer:\"PCU18070184\", devIP:\"devIP097\", slaveR:\"slave097\", devPing:\"devPing097\"},\n    {start:9700, name:\"metering098\", devSer:\"PCU18070185\", devIP:\"devIP098\", slaveR:\"slave098\", devPing:\"devPing098\"},\n    {start:9800, name:\"metering099\", devSer:\"PCU18070186\", devIP:\"devIP099\", slaveR:\"slave099\", devPing:\"devPing099\"}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":460,"wires":[["135d011c.de669f"]]},{"id":"b6c6f0fd.ec687","type":"function","z":"935770f4.d25f08","name":"","func":"var mbR = global.get('mbRespond')\nvar startVal = msg.payload.start\nvar msg2\nvar msg3\n\nmsg.buffarr = [\n    mbR[startVal],mbR[startVal+1],\n    mbR[startVal+2],mbR[startVal+3],\n    mbR[startVal+4],mbR[startVal+5],\n    mbR[startVal+6],mbR[startVal+7],\n    mbR[startVal+8],mbR[startVal+9],\n    mbR[startVal+10],mbR[startVal+11],\n    mbR[startVal+12],mbR[startVal+13],\n    mbR[startVal+14],mbR[startVal+15],\n    mbR[startVal+16],mbR[startVal+17],\n    mbR[startVal+18],mbR[startVal+19],\n    mbR[startVal+20],mbR[startVal+21],\n    mbR[startVal+22],mbR[startVal+23],\n    mbR[startVal+24],mbR[startVal+25],\n    mbR[startVal+26],mbR[startVal+27],\n    mbR[startVal+28],mbR[startVal+29],\n    mbR[startVal+30],mbR[startVal+31],\n    mbR[startVal+32],mbR[startVal+33],\n    mbR[startVal+34],mbR[startVal+35],\n    mbR[startVal+36],mbR[startVal+37],\n    mbR[startVal+38],mbR[startVal+39],\n    mbR[startVal+40],mbR[startVal+41],\n    mbR[startVal+42],mbR[startVal+43],\n    mbR[startVal+44],mbR[startVal+45],\n    mbR[startVal+46],mbR[startVal+47],\n    mbR[startVal+48],mbR[startVal+49],\n    mbR[startVal+50],mbR[startVal+51],\n    mbR[startVal+52],mbR[startVal+53],\n    mbR[startVal+54],mbR[startVal+55],\n    mbR[startVal+56],mbR[startVal+57],\n    mbR[startVal+58],mbR[startVal+59],\n    mbR[startVal+60],mbR[startVal+61],\n    mbR[startVal+62],mbR[startVal+63],\n    mbR[startVal+64],mbR[startVal+65],\n    mbR[startVal+66],mbR[startVal+67],\n    mbR[startVal+68],mbR[startVal+69],\n    mbR[startVal+70],mbR[startVal+71],\n    mbR[startVal+72],mbR[startVal+73],\n    mbR[startVal+74],mbR[startVal+75],\n    mbR[startVal+76],mbR[startVal+77],\n    mbR[startVal+78],mbR[startVal+79],\n    mbR[startVal+80],mbR[startVal+81],\n    mbR[startVal+82],mbR[startVal+83],\n    mbR[startVal+84],mbR[startVal+85],\n    mbR[startVal+86],mbR[startVal+87],\n    mbR[startVal+88],mbR[startVal+89],\n    mbR[startVal+90],mbR[startVal+91],\n    mbR[startVal+92],mbR[startVal+93],\n    mbR[startVal+94],mbR[startVal+95],\n    mbR[startVal+96],mbR[startVal+97],\n    mbR[startVal+98],mbR[startVal+99],\n]\n\nmsg.valbuff = Buffer.from(msg.buffarr)\nmsg.meteringMsg = {\n    devSerNum : msg.payload.devSer,\n    topic : \"metering\",\n    raw : msg.buffarr,\n    payload : {\n        // devSerNum : msg.payload.devSer,\n        isOnline : msg.valbuff.readIntBE(0,2),\n        ipSegment3 : msg.valbuff.readIntBE(2,2),\n        ipSegment4 : msg.valbuff.readIntBE(4,2),\n        devSlave : msg.valbuff.readIntBE(6,2),\n        voltAN : msg.valbuff.readFloatBE(8,4),\n        voltBN : msg.valbuff.readFloatBE(12,4),\n        voltCN : msg.valbuff.readFloatBE(16,4),\n        voltAvgLN : msg.valbuff.readFloatBE(20,4),\n        voltAB : msg.valbuff.readFloatBE(24,4),\n        voltBC : msg.valbuff.readFloatBE(28,4),\n        voltCA : msg.valbuff.readFloatBE(32,4),\n        voltAvgLL : msg.valbuff.readFloatBE(36,4),\n        currA : msg.valbuff.readFloatBE(40,4),\n        currB : msg.valbuff.readFloatBE(44,4),\n        currC : msg.valbuff.readFloatBE(48,4),\n        currN : msg.valbuff.readFloatBE(52,4),\n        currAvg : msg.valbuff.readFloatBE(56,4),\n        freq : msg.valbuff.readFloatBE(60,4),\n        pf : msg.valbuff.readFloatBE(64,4),\n        kWtotal : msg.valbuff.readFloatBE(68,4),\n        kVAtotal : msg.valbuff.readFloatBE(72,4),\n        kVARtotal : msg.valbuff.readFloatBE(76,4),\n        kvarh_import : msg.valbuff.readFloatBE(80,4),\n        kwh_import : msg.valbuff.readFloatBE(84,4),\n        kwh_export : msg.valbuff.readFloatBE(88,4),\n        kwh_total : msg.valbuff.readFloatBE(92,4),\n    }\n}\n\n// if(global.get(msg.payload.devPing) === undefined){\n//     global.set(msg.payload.devPing, false)\n// }\n\nvar msg2 = msg.meteringMsg.payload\n\n// if(msg.meteringMsg.payload.freq < 1.0){\n//     // what happened if detach from slave\n//     msg2 = {\n//         topic : \"alarms\",\n//         qos : 2,\n//         retain : false,\n//         payload : JSON.stringify({\n//             devSerNum : msg.meteringMsg.payload.devSerNum,\n//             org : \"5b0510b887447a896ae6fa6f\",\n//             tenant : \"na\",\n//             area : \"na\",\n//             label : \"warning\",\n//             text : \"Failed Serial Communication with Meter\"\n//         })\n//     }\n    \n// } else {\n//     msg2 = {\n//         topic : \"powermetering\",\n//         qos : 2,\n//         retain : false,\n//         payload : JSON.stringify({\n//             devSerNum : msg.meteringMsg.payload.devSerNum,\n//             timestamp : new Date().toISOString(),\n//             voltAN : msg.meteringMsg.payload.voltAN,\n//             voltBN : msg.meteringMsg.payload.voltBN,\n//             voltCN : msg.meteringMsg.payload.voltCN,\n//             voltAvgLN : msg.meteringMsg.payload.voltAvgLN,\n//             voltAB : msg.meteringMsg.payload.voltAB,\n//             voltBC : msg.meteringMsg.payload.voltBC,\n//             voltCA : msg.meteringMsg.payload.voltCA,\n//             voltAvgLL : msg.meteringMsg.payload.voltAvgLL,\n//             currA : msg.meteringMsg.payload.currA,\n//             currB : msg.meteringMsg.payload.currB,\n//             currC : msg.meteringMsg.payload.currC,\n//             currN : msg.meteringMsg.payload.currN,\n//             currAvg : msg.meteringMsg.payload.currAvg,\n//             freq : msg.meteringMsg.payload.freq,\n//             pf : msg.meteringMsg.payload.pf,\n//             kwTotal : msg.meteringMsg.payload.kWtotal,\n//             kvaTotal : msg.meteringMsg.payload.kVAtotal,\n//             kvarTotal : msg.meteringMsg.payload.kVARtotal,\n//             kvarhImport : msg.meteringMsg.payload.kvarh_import,\n//             kwhImport : msg.meteringMsg.payload.kwh_import,\n//             kwhExport : msg.meteringMsg.payload.kwh_export,\n//             kwh_total : msg.meteringMsg.payload.kwh_total,\n//         })\n//     }\n// }\n\n// global.set(msg.payload.name, msg.meteringMsg.payload);\n// global.set(msg.payload.devIP, \"192.168.\" + msg.meteringMsg.payload.ipSegment3 + \".\" + msg.meteringMsg.payload.ipSegment4);\n\n// msg3 = {\n//     host : \"192.168.\" + msg.meteringMsg.payload.ipSegment3 + \".\" + msg.meteringMsg.payload.ipSegment4,\n//     _payload : msg.payload\n// }\n\nreturn [msg, msg2, msg3];","outputs":"3","noerr":0,"x":810,"y":460,"wires":[["135d011c.de669f","e2b2f1f5.5256d"],["50d5ddc8.6526ac"],[]]},{"id":"e2b2f1f5.5256d","type":"debug","z":"935770f4.d25f08","name":"","active":true,"console":"false","complete":"meteringMsg","x":990,"y":400,"wires":[]},{"id":"a9ff2f6a.f1ee68","type":"inject","z":"935770f4.d25f08","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"x":117.5,"y":603.0833740234375,"wires":[["76b02eb6.b882b8","550bf834.214588","15963983.bdef16","d6ef38d4.325198","813a222e.ec25b8"]]},{"id":"c01bc6cd.7fd96","type":"function","z":"935770f4.d25f08","name":"100-198","func":"//  [\n//     9900,10000,10100,10200,10300,10400,10500,10600,10700,10800,10900,11000,\n//     11100,11200,11300,11400,11500,11600,11700,11800,11900,12000,\n//     12100,12200,12300,12400,12500,12600,12700,12800,12900,13000,\n//     13100,13200,13300,13400,13500,13600,13700,13800,13900,14000,\n//     14100,14200,14300,14400,14500,14600,14700,14800,14900,15000,\n//     15100,15200,15300,15400,15500,15600,15700,15800,15900,16000,\n//     16100,16200,16300,16400,16500,16600,16700,16800,16900,17000,\n//     17100,17200,17300,17400,17500,17600,17700,17800,17900,18000,\n//     18100,18200,18300,18400,18500,18600,18700,18800,18900,19000,\n//     19100,19200,19300,19400,19500,19600,19700\n//     ]\n\nmsg.iter = [\n    {start:9900,   name:\"metering100\", devSer:\"PCU18070186\", devIP:\"devIP100\", slaveR:\"slave100\", devPing:\"devPing100\"},\n    {start:10000, name:\"metering101\", devSer:\"PCU18070187\", devIP:\"devIP101\", slaveR:\"slave101\", devPing:\"devPing101\"},\n    {start:10100, name:\"metering102\", devSer:\"PCU18070188\", devIP:\"devIP102\", slaveR:\"slave102\", devPing:\"devPing102\"},\n    {start:10200, name:\"metering103\", devSer:\"PCU18070189\", devIP:\"devIP103\", slaveR:\"slave103\", devPing:\"devPing103\"},\n    {start:10300, name:\"metering104\", devSer:\"PCU18070190\", devIP:\"devIP104\", slaveR:\"slave104\", devPing:\"devPing104\"},\n    {start:10400, name:\"metering105\", devSer:\"PCU18070191\", devIP:\"devIP105\", slaveR:\"slave105\", devPing:\"devPing105\"},\n    {start:10500, name:\"metering106\", devSer:\"PCU18070192\", devIP:\"devIP106\", slaveR:\"slave106\", devPing:\"devPing106\"},\n    {start:10600, name:\"metering107\", devSer:\"PCU18070193\", devIP:\"devIP107\", slaveR:\"slave107\", devPing:\"devPing107\"},\n    {start:10700, name:\"metering108\", devSer:\"PCU18070194\", devIP:\"devIP108\", slaveR:\"slave108\", devPing:\"devPing108\"},\n    {start:10800, name:\"metering109\", devSer:\"PCU18070195\", devIP:\"devIP109\", slaveR:\"slave109\", devPing:\"devPing109\"},\n    {start:10900, name:\"metering110\", devSer:\"PCU18070196\", devIP:\"devIP110\", slaveR:\"slave110\", devPing:\"devPing110\"},\n    {start:11000, name:\"metering111\", devSer:\"PCU18070197\", devIP:\"devIP111\", slaveR:\"slave111\", devPing:\"devPing111\"},\n    {start:11100, name:\"metering112\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP112\", slaveR:\"slave112\", devPing:\"devPing112\"},\n    {start:11200, name:\"metering113\", devSer:\"PCU18070198\", devIP:\"devIP113\", slaveR:\"slave113\", devPing:\"devPing113\"},\n    {start:11300, name:\"metering114\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP114\", slaveR:\"slave114\", devPing:\"devPing114\"},\n    {start:11400, name:\"metering115\", devSer:\"PCU18070199\", devIP:\"devIP115\", slaveR:\"slave115\", devPing:\"devPing115\"},\n    {start:11500, name:\"metering116\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP116\", slaveR:\"slave116\", devPing:\"devPing116\"},\n    {start:11600, name:\"metering117\", devSer:\"PCU18070200\", devIP:\"devIP117\", slaveR:\"slave117\", devPing:\"devPing117\"},\n    {start:11700, name:\"metering118\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP118\", slaveR:\"slave118\", devPing:\"devPing118\"},\n    {start:11800, name:\"metering119\", devSer:\"PCU18070201\", devIP:\"devIP119\", slaveR:\"slave119\", devPing:\"devPing119\"},\n    {start:11900, name:\"metering120\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP120\", slaveR:\"slave120\", devPing:\"devPing120\"},\n    {start:12000, name:\"metering121\", devSer:\"PCU18070202\", devIP:\"devIP121\", slaveR:\"slave121\", devPing:\"devPing121\"},\n    {start:12100, name:\"metering122\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP122\", slaveR:\"slave122\", devPing:\"devPing122\"},\n    {start:12200, name:\"metering123\", devSer:\"PCU18070203\", devIP:\"devIP123\", slaveR:\"slave123\", devPing:\"devPing123\"},\n    {start:12300, name:\"metering124\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP124\", slaveR:\"slave124\", devPing:\"devPing124\"},\n    {start:12400, name:\"metering125\", devSer:\"PCU18070204\", devIP:\"devIP125\", slaveR:\"slave125\", devPing:\"devPing125\"},\n    {start:12500, name:\"metering126\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP126\", slaveR:\"slave126\", devPing:\"devPing126\"},\n    {start:12600, name:\"metering127\", devSer:\"PCU18070205\", devIP:\"devIP127\", slaveR:\"slave127\", devPing:\"devPing127\"},\n    {start:12700, name:\"metering128\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP128\", slaveR:\"slave128\", devPing:\"devPing128\"},\n    {start:12800, name:\"metering129\", devSer:\"PCU18070206\", devIP:\"devIP129\", slaveR:\"slave129\", devPing:\"devPing129\"},\n    {start:12900, name:\"metering130\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP130\", slaveR:\"slave130\", devPing:\"devPing130\"},\n    {start:13000, name:\"metering131\", devSer:\"PCU18070207\", devIP:\"devIP131\", slaveR:\"slave131\", devPing:\"devPing131\"},\n    {start:13100, name:\"metering132\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP132\", slaveR:\"slave132\", devPing:\"devPing132\"},\n    {start:13200, name:\"metering133\", devSer:\"PCU18070208\", devIP:\"devIP133\", slaveR:\"slave133\", devPing:\"devPing133\"},\n    {start:13300, name:\"metering134\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP134\", slaveR:\"slave134\", devPing:\"devPing134\"},\n    {start:13400, name:\"metering135\", devSer:\"PCU18070209\", devIP:\"devIP135\", slaveR:\"slave135\", devPing:\"devPing135\"},\n    {start:13500, name:\"metering136\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP136\", slaveR:\"slave136\", devPing:\"devPing136\"},\n    {start:13600, name:\"metering137\", devSer:\"PCU18070210\", devIP:\"devIP137\", slaveR:\"slave137\", devPing:\"devPing137\"},\n    {start:13700, name:\"metering138\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP138\", slaveR:\"slave138\", devPing:\"devPing138\"},\n    {start:13800, name:\"metering139\", devSer:\"PCU18070211\", devIP:\"devIP139\", slaveR:\"slave139\", devPing:\"devPing139\"},\n    {start:13900, name:\"metering140\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP140\", slaveR:\"slave140\", devPing:\"devPing140\"},\n    {start:14000, name:\"metering141\", devSer:\"PCU18070212\", devIP:\"devIP141\", slaveR:\"slave141\", devPing:\"devPing141\"},\n    {start:14100, name:\"metering142\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP142\", slaveR:\"slave142\", devPing:\"devPing142\"},\n    {start:14200, name:\"metering143\", devSer:\"PCU18070213\", devIP:\"devIP143\", slaveR:\"slave143\", devPing:\"devPing143\"},\n    {start:14300, name:\"metering144\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP144\", slaveR:\"slave144\", devPing:\"devPing144\"},\n    {start:14400, name:\"metering145\", devSer:\"PCU18070214\", devIP:\"devIP145\", slaveR:\"slave145\", devPing:\"devPing145\"},\n    {start:14500, name:\"metering146\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP146\", slaveR:\"slave146\", devPing:\"devPing146\"},\n    {start:14600, name:\"metering147\", devSer:\"PCU18070215\", devIP:\"devIP147\", slaveR:\"slave147\", devPing:\"devPing147\"},\n    {start:14700, name:\"metering148\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP148\", slaveR:\"slave148\", devPing:\"devPing148\"},\n    {start:14800, name:\"metering149\", devSer:\"PCU18070216\", devIP:\"devIP149\", slaveR:\"slave149\", devPing:\"devPing149\"},\n    {start:14900, name:\"metering150\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP150\", slaveR:\"slave150\", devPing:\"devPing150\"},\n    {start:15000, name:\"metering151\", devSer:\"PCU18070217\", devIP:\"devIP151\", slaveR:\"slave151\", devPing:\"devPing151\"},\n    {start:15100, name:\"metering152\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP152\", slaveR:\"slave152\", devPing:\"devPing152\"},\n    {start:15200, name:\"metering153\", devSer:\"PCU18070218\", devIP:\"devIP153\", slaveR:\"slave153\", devPing:\"devPing153\"},\n    {start:15300, name:\"metering154\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP154\", slaveR:\"slave154\", devPing:\"devPing154\"},\n    {start:15400, name:\"metering155\", devSer:\"PCU18070219\", devIP:\"devIP155\", slaveR:\"slave155\", devPing:\"devPing155\"},\n    {start:15500, name:\"metering156\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP156\", slaveR:\"slave156\", devPing:\"devPing156\"},\n    {start:15600, name:\"metering157\", devSer:\"PCU18070220\", devIP:\"devIP157\", slaveR:\"slave157\", devPing:\"devPing157\"},\n    {start:15700, name:\"metering158\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP158\", slaveR:\"slave158\", devPing:\"devPing158\"},\n    {start:15800, name:\"metering159\", devSer:\"PCU18070221\", devIP:\"devIP159\", slaveR:\"slave159\", devPing:\"devPing159\"},\n    {start:15900, name:\"metering160\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP160\", slaveR:\"slave160\", devPing:\"devPing160\"},\n    {start:16000, name:\"metering161\", devSer:\"PCU18070222\", devIP:\"devIP161\", slaveR:\"slave161\", devPing:\"devPing161\"},\n    {start:16100, name:\"metering162\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP162\", slaveR:\"slave162\", devPing:\"devPing162\"},\n    {start:16200, name:\"metering163\", devSer:\"PCU18070223\", devIP:\"devIP163\", slaveR:\"slave163\", devPing:\"devPing163\"},\n    {start:16300, name:\"metering164\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP164\", slaveR:\"slave164\", devPing:\"devPing164\"},\n    {start:16400, name:\"metering165\", devSer:\"PCU18070224\", devIP:\"devIP165\", slaveR:\"slave165\", devPing:\"devPing165\"},\n    {start:16500, name:\"metering166\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP166\", slaveR:\"slave166\", devPing:\"devPing166\"},\n    {start:16600, name:\"metering167\", devSer:\"PCU18070225\", devIP:\"devIP167\", slaveR:\"slave167\", devPing:\"devPing167\"},\n    {start:16700, name:\"metering168\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP168\", slaveR:\"slave168\", devPing:\"devPing168\"},\n    {start:16800, name:\"metering169\", devSer:\"PCU18070226\", devIP:\"devIP169\", slaveR:\"slave169\", devPing:\"devPing169\"},\n    {start:16900, name:\"metering170\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP170\", slaveR:\"slave170\", devPing:\"devPing170\"},\n    {start:17000, name:\"metering171\", devSer:\"PCU18070227\", devIP:\"devIP171\", slaveR:\"slave171\", devPing:\"devPing171\"},\n    {start:17100, name:\"metering172\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP172\", slaveR:\"slave172\", devPing:\"devPing172\"},\n    {start:17200, name:\"metering173\", devSer:\"PCU18070228\", devIP:\"devIP173\", slaveR:\"slave173\", devPing:\"devPing173\"},\n    {start:17300, name:\"metering174\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP174\", slaveR:\"slave174\", devPing:\"devPing174\"},\n    {start:17400, name:\"metering175\", devSer:\"PCU18070229\", devIP:\"devIP175\", slaveR:\"slave175\", devPing:\"devPing175\"},\n    {start:17500, name:\"metering176\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP176\", slaveR:\"slave176\", devPing:\"devPing176\"},\n    {start:17600, name:\"metering177\", devSer:\"PCU18070230\", devIP:\"devIP177\", slaveR:\"slave177\", devPing:\"devPing177\"},\n    {start:17700, name:\"metering178\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP178\", slaveR:\"slave178\", devPing:\"devPing178\"},\n    {start:17800, name:\"metering179\", devSer:\"PCU18070231\", devIP:\"devIP179\", slaveR:\"slave179\", devPing:\"devPing179\"},\n    {start:17900, name:\"metering180\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP180\", slaveR:\"slave180\", devPing:\"devPing180\"},\n    {start:18000, name:\"metering181\", devSer:\"PCU18070232\", devIP:\"devIP181\", slaveR:\"slave181\", devPing:\"devPing181\"},\n    {start:18100, name:\"metering182\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP182\", slaveR:\"slave182\", devPing:\"devPing182\"},\n    {start:18200, name:\"metering183\", devSer:\"PCU18070233\", devIP:\"devIP183\", slaveR:\"slave183\", devPing:\"devPing183\"},\n    {start:18300, name:\"metering184\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP184\", slaveR:\"slave184\", devPing:\"devPing184\"},\n    {start:18400, name:\"metering185\", devSer:\"PCU18070234\", devIP:\"devIP185\", slaveR:\"slave185\", devPing:\"devPing185\"},\n    {start:18500, name:\"metering186\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP186\", slaveR:\"slave186\", devPing:\"devPing186\"},\n    {start:18600, name:\"metering187\", devSer:\"PCU18070235\", devIP:\"devIP187\", slaveR:\"slave187\", devPing:\"devPing187\"},\n    {start:18700, name:\"metering188\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP188\", slaveR:\"slave188\", devPing:\"devPing188\"},\n    {start:18800, name:\"metering189\", devSer:\"PCU18070236\", devIP:\"devIP189\", slaveR:\"slave189\", devPing:\"devPing189\"},\n    {start:18900, name:\"metering190\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP190\", slaveR:\"slave190\", devPing:\"devPing190\"},\n    {start:19000, name:\"metering191\", devSer:\"PCU18070237\", devIP:\"devIP191\", slaveR:\"slave191\", devPing:\"devPing191\"},\n    {start:19100, name:\"metering192\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP192\", slaveR:\"slave192\", devPing:\"devPing192\"},\n    {start:19200, name:\"metering193\", devSer:\"PCU18070238\", devIP:\"devIP193\", slaveR:\"slave193\", devPing:\"devPing193\"},\n    {start:19300, name:\"metering194\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP194\", slaveR:\"slave194\", devPing:\"devPing194\"},\n    {start:19400, name:\"metering195\", devSer:\"PCU18070239\", devIP:\"devIP195\", slaveR:\"slave195\", devPing:\"devPing195\"},\n    {start:19500, name:\"metering196\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP196\", slaveR:\"slave196\", devPing:\"devPing196\"},\n    {start:19600, name:\"metering197\", devSer:\"PCU18070240\", devIP:\"devIP197\", slaveR:\"slave197\", devPing:\"devPing197\"},\n    {start:19700, name:\"metering198\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP198\", slaveR:\"slave198\", devPing:\"devPing198\"}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":520,"wires":[["135d011c.de669f"]]},{"id":"e36af22a.1c2c4","type":"function","z":"935770f4.d25f08","name":"199-297","func":"// [\n//     19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,\n//     21100,21200,21300,21400,21500,21600,21700,21800,21900,22000,\n//     22100,22200,22300,22400,22500,22600,22700,22800,22900,23000,\n//     23100,23200,23300,23400,23500,23600,23700,23800,23900,24000,\n//     24100,24200,24300,24400,24500,24600,24700,24800,24900,25000\n//     ]\n\nmsg.iter = [\n    {start:19800,   name:\"metering199\", devSer:\"PCU18070241\", devIP:\"devIP199\", slaveR:\"slave199\", devPing:\"devPing199\"},\n    {start:19900,   name:\"metering200\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP200\", slaveR:\"slave200\", devPing:\"devPing200\"},\n    {start:20000, name:\"metering201\", devSer:\"PCU18070242\", devIP:\"devIP201\", slaveR:\"slave201\", devPing:\"devPing201\"},\n    {start:20100, name:\"metering202\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP202\", slaveR:\"slave202\", devPing:\"devPing202\"},\n    {start:20200, name:\"metering203\", devSer:\"PCU18070243\", devIP:\"devIP203\", slaveR:\"slave203\", devPing:\"devPing203\"},\n    {start:20300, name:\"metering204\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP204\", slaveR:\"slave204\", devPing:\"devPing204\"},\n    {start:20400, name:\"metering205\", devSer:\"PCU18070244\", devIP:\"devIP205\", slaveR:\"slave205\", devPing:\"devPing205\"},\n    {start:20500, name:\"metering206\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP206\", slaveR:\"slave206\", devPing:\"devPing206\"},\n    {start:20600, name:\"metering207\", devSer:\"PCU18070245\", devIP:\"devIP207\", slaveR:\"slave207\", devPing:\"devPing207\"},\n    {start:20700, name:\"metering208\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP208\", slaveR:\"slave208\", devPing:\"devPing208\"},\n    {start:20800, name:\"metering209\", devSer:\"PCU18070246\", devIP:\"devIP209\", slaveR:\"slave209\", devPing:\"devPing209\"},\n    {start:20900, name:\"metering210\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP210\", slaveR:\"slave210\", devPing:\"devPing210\"},\n    {start:21000, name:\"metering211\", devSer:\"PCU18070247\", devIP:\"devIP211\", slaveR:\"slave211\", devPing:\"devPing211\"},\n    {start:21100, name:\"metering212\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP212\", slaveR:\"slave212\", devPing:\"devPing212\"},\n    {start:21200, name:\"metering213\", devSer:\"PCU18070248\", devIP:\"devIP213\", slaveR:\"slave213\", devPing:\"devPing213\"},\n    {start:21300, name:\"metering214\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP214\", slaveR:\"slave214\", devPing:\"devPing214\"},\n    {start:21400, name:\"metering215\", devSer:\"PCU18070249\", devIP:\"devIP215\", slaveR:\"slave215\", devPing:\"devPing215\"},\n    {start:21500, name:\"metering216\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP216\", slaveR:\"slave216\", devPing:\"devPing216\"},\n    {start:21600, name:\"metering217\", devSer:\"PCU18070250\", devIP:\"devIP217\", slaveR:\"slave217\", devPing:\"devPing217\"},\n    {start:21700, name:\"metering218\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP218\", slaveR:\"slave218\", devPing:\"devPing218\"},\n    {start:21800, name:\"metering219\", devSer:\"PCU18070251\", devIP:\"devIP219\", slaveR:\"slave219\", devPing:\"devPing219\"},\n    {start:21900, name:\"metering220\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP220\", slaveR:\"slave220\", devPing:\"devPing220\"},\n    {start:22000, name:\"metering221\", devSer:\"PCU18070252\", devIP:\"devIP221\", slaveR:\"slave221\", devPing:\"devPing221\"},\n    {start:22100, name:\"metering222\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP222\", slaveR:\"slave222\", devPing:\"devPing222\"},\n    {start:22200, name:\"metering223\", devSer:\"PCU18070253\", devIP:\"devIP223\", slaveR:\"slave223\", devPing:\"devPing223\"},\n    {start:22300, name:\"metering224\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP224\", slaveR:\"slave224\", devPing:\"devPing224\"},\n    {start:22400, name:\"metering225\", devSer:\"PCU18070254\", devIP:\"devIP225\", slaveR:\"slave225\", devPing:\"devPing225\"},\n    {start:22500, name:\"metering226\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP226\", slaveR:\"slave226\", devPing:\"devPing226\"},\n    {start:22600, name:\"metering227\", devSer:\"PCU18070255\", devIP:\"devIP227\", slaveR:\"slave227\", devPing:\"devPing227\"},\n    {start:22700, name:\"metering228\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP228\", slaveR:\"slave228\", devPing:\"devPing228\"},\n    // start of Block B, C, DD\n    {start:22800, name:\"metering229\", devSer:\"PCU18070001\", devIP:\"devIP229\", slaveR:\"slave229\", devPing:\"devPing229\"},\n    {start:22900, name:\"metering230\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP230\", slaveR:\"slave230\", devPing:\"devPing230\"},\n    {start:23000, name:\"metering231\", devSer:\"PCU18070002\", devIP:\"devIP231\", slaveR:\"slave231\", devPing:\"devPing231\"},\n    {start:23100, name:\"metering232\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP232\", slaveR:\"slave232\", devPing:\"devPing232\"},\n    {start:23200, name:\"metering233\", devSer:\"PCU18070003\", devIP:\"devIP233\", slaveR:\"slave233\", devPing:\"devPing233\"},\n    {start:23300, name:\"metering234\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP234\", slaveR:\"slave234\", devPing:\"devPing234\"},\n    {start:23400, name:\"metering235\", devSer:\"PCU18070004\", devIP:\"devIP235\", slaveR:\"slave235\", devPing:\"devPing235\"},\n    {start:23500, name:\"metering236\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP236\", slaveR:\"slave236\", devPing:\"devPing236\"},\n    {start:23600, name:\"metering237\", devSer:\"PCU18070005\", devIP:\"devIP237\", slaveR:\"slave237\", devPing:\"devPing237\"},\n    {start:23700, name:\"metering238\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP238\", slaveR:\"slave238\", devPing:\"devPing238\"},\n    {start:23800, name:\"metering239\", devSer:\"PCU18070006\", devIP:\"devIP239\", slaveR:\"slave239\", devPing:\"devPing239\"},\n    {start:23900, name:\"metering240\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP240\", slaveR:\"slave240\", devPing:\"devPing240\"},\n    {start:24000, name:\"metering241\", devSer:\"PCU18070007\", devIP:\"devIP241\", slaveR:\"slave241\", devPing:\"devPing241\"},\n    {start:24100, name:\"metering242\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP242\", slaveR:\"slave242\", devPing:\"devPing242\"},\n    {start:24200, name:\"metering243\", devSer:\"PCU18070008\", devIP:\"devIP243\", slaveR:\"slave243\", devPing:\"devPing243\"},\n    {start:24300, name:\"metering244\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP244\", slaveR:\"slave244\", devPing:\"devPing244\"},\n    {start:24400, name:\"metering245\", devSer:\"PCU18070009\", devIP:\"devIP245\", slaveR:\"slave245\", devPing:\"devPing245\"},\n    {start:24500, name:\"metering246\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP246\", slaveR:\"slave246\", devPing:\"devPing246\"},\n    {start:24600, name:\"metering247\", devSer:\"PCU18070010\", devIP:\"devIP247\", slaveR:\"slave247\", devPing:\"devPing247\"},\n    {start:24700, name:\"metering248\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP248\", slaveR:\"slave248\", devPing:\"devPing248\"},\n    {start:24800, name:\"metering249\", devSer:\"PCU18070011\", devIP:\"devIP249\", slaveR:\"slave249\", devPing:\"devPing249\"},\n    {start:24900, name:\"metering250\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP250\", slaveR:\"slave250\", devPing:\"devPing250\"},\n    {start:25000, name:\"metering251\", devSer:\"PCU18070012\", devIP:\"devIP251\", slaveR:\"slave251\", devPing:\"devPing251\"},\n    {start:25100, name:\"metering252\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP252\", slaveR:\"slave252\", devPing:\"devPing252\"},\n    {start:25200, name:\"metering253\", devSer:\"PCU18070014\", devIP:\"devIP253\", slaveR:\"slave253\", devPing:\"devPing253\"},\n    {start:25300, name:\"metering254\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP254\", slaveR:\"slave254\", devPing:\"devPing254\"},\n    {start:25400, name:\"metering255\", devSer:\"PCU18070015\", devIP:\"devIP255\", slaveR:\"slave255\", devPing:\"devPing255\"},\n    {start:25500, name:\"metering256\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP256\", slaveR:\"slave256\", devPing:\"devPing256\"},\n    {start:25600, name:\"metering257\", devSer:\"PCU18070016\", devIP:\"devIP257\", slaveR:\"slave257\", devPing:\"devPing257\"},\n    {start:25700, name:\"metering258\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP258\", slaveR:\"slave258\", devPing:\"devPing258\"},\n    {start:25800, name:\"metering259\", devSer:\"PCU18070017\", devIP:\"devIP259\", slaveR:\"slave259\", devPing:\"devPing259\"},\n    {start:25900, name:\"metering260\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP260\", slaveR:\"slave260\", devPing:\"devPing260\"},\n    {start:26000, name:\"metering261\", devSer:\"PCU18070018\", devIP:\"devIP261\", slaveR:\"slave261\", devPing:\"devPing261\"},\n    {start:26100, name:\"metering262\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP262\", slaveR:\"slave262\", devPing:\"devPing262\"},\n    {start:26200, name:\"metering263\", devSer:\"PCU18070019\", devIP:\"devIP263\", slaveR:\"slave263\", devPing:\"devPing263\"},\n    {start:26300, name:\"metering264\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP264\", slaveR:\"slave264\", devPing:\"devPing264\"},\n    {start:26400, name:\"metering265\", devSer:\"PCU18070020\", devIP:\"devIP265\", slaveR:\"slave265\", devPing:\"devPing265\"},\n    {start:26500, name:\"metering266\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP266\", slaveR:\"slave266\", devPing:\"devPing266\"},\n    {start:26600, name:\"metering267\", devSer:\"PCU18070021\", devIP:\"devIP267\", slaveR:\"slave267\", devPing:\"devPing267\"},\n    {start:26700, name:\"metering268\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP268\", slaveR:\"slave268\", devPing:\"devPing268\"},\n    {start:26800, name:\"metering269\", devSer:\"PCU18070022\", devIP:\"devIP269\", slaveR:\"slave269\", devPing:\"devPing269\"},\n    {start:26900, name:\"metering270\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP270\", slaveR:\"slave270\", devPing:\"devPing270\"},\n    {start:27000, name:\"metering271\", devSer:\"PCU18070023\", devIP:\"devIP271\", slaveR:\"slave271\", devPing:\"devPing271\"},\n    {start:27100, name:\"metering272\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP272\", slaveR:\"slave272\", devPing:\"devPing272\"},\n    {start:27200, name:\"metering273\", devSer:\"PCU18070024\", devIP:\"devIP273\", slaveR:\"slave273\", devPing:\"devPing273\"},\n    {start:27300, name:\"metering274\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP274\", slaveR:\"slave274\", devPing:\"devPing274\"},\n    {start:27400, name:\"metering275\", devSer:\"PCU18070025\", devIP:\"devIP275\", slaveR:\"slave275\", devPing:\"devPing275\"},\n    {start:27500, name:\"metering276\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP276\", slaveR:\"slave276\", devPing:\"devPing276\"},\n    {start:27600, name:\"metering277\", devSer:\"PCU18070026\", devIP:\"devIP277\", slaveR:\"slave277\", devPing:\"devPing277\"},\n    {start:27700, name:\"metering278\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP278\", slaveR:\"slave278\", devPing:\"devPing278\"},\n    {start:27800, name:\"metering279\", devSer:\"PCU18070027\", devIP:\"devIP279\", slaveR:\"slave279\", devPing:\"devPing279\"},\n    {start:27900, name:\"metering280\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP280\", slaveR:\"slave280\", devPing:\"devPing280\"},\n    {start:28000, name:\"metering281\", devSer:\"PCU18070028\", devIP:\"devIP281\", slaveR:\"slave281\", devPing:\"devPing281\"},\n    {start:28100, name:\"metering282\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP282\", slaveR:\"slave282\", devPing:\"devPing282\"},\n    {start:28200, name:\"metering283\", devSer:\"PCU18070029\", devIP:\"devIP283\", slaveR:\"slave283\", devPing:\"devPing283\"},\n    {start:28300, name:\"metering284\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP284\", slaveR:\"slave284\", devPing:\"devPing284\"},\n    {start:28400, name:\"metering285\", devSer:\"PCU18070030\", devIP:\"devIP285\", slaveR:\"slave285\", devPing:\"devPing285\"},\n    {start:28500, name:\"metering286\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP286\", slaveR:\"slave286\", devPing:\"devPing286\"},\n    {start:28600, name:\"metering287\", devSer:\"PCU18070031\", devIP:\"devIP287\", slaveR:\"slave287\", devPing:\"devPing287\"},\n    {start:28700, name:\"metering288\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP288\", slaveR:\"slave288\", devPing:\"devPing288\"},\n    {start:28800, name:\"metering289\", devSer:\"PCU18070032\", devIP:\"devIP289\", slaveR:\"slave289\", devPing:\"devPing289\"},\n    {start:28900, name:\"metering290\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP290\", slaveR:\"slave290\", devPing:\"devPing290\"},\n    {start:29000, name:\"metering291\", devSer:\"PCU18070033\", devIP:\"devIP291\", slaveR:\"slave291\", devPing:\"devPing291\"},\n    {start:29100, name:\"metering292\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP292\", slaveR:\"slave292\", devPing:\"devPing292\"},\n    {start:29200, name:\"metering293\", devSer:\"PCU18070034\", devIP:\"devIP293\", slaveR:\"slave293\", devPing:\"devPing293\"},\n    {start:29300, name:\"metering294\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP294\", slaveR:\"slave294\", devPing:\"devPing294\"},\n    {start:29400, name:\"metering295\", devSer:\"PCU18070035\", devIP:\"devIP295\", slaveR:\"slave295\", devPing:\"devPing295\"},\n    {start:29500, name:\"metering296\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP296\", slaveR:\"slave296\", devPing:\"devPing296\"},\n    {start:29600, name:\"metering297\", devSer:\"PCU18070036\", devIP:\"devIP297\", slaveR:\"slave297\", devPing:\"devPing297\"}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":620,"wires":[["135d011c.de669f"]]},{"id":"fb8b7862.435878","type":"function","z":"935770f4.d25f08","name":"298-396","func":"// [\n//     19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,\n//     21100,21200,21300,21400,21500,21600,21700,21800,21900,22000,\n//     22100,22200,22300,22400,22500,22600,22700,22800,22900,23000,\n//     23100,23200,23300,23400,23500,23600,23700,23800,23900,24000,\n//     24100,24200,24300,24400,24500,24600,24700,24800,24900,25000\n//     ]\n\nmsg.iter = [\n    {start:29700,   name:\"metering298\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP298\", slaveR:\"slave298\", devPing:\"devPing298\"},\n    {start:29800,   name:\"metering299\", devSer:\"PCU18070037\", devIP:\"devIP299\", slaveR:\"slave299\", devPing:\"devPing299\"},\n    {start:29900,   name:\"metering300\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP300\", slaveR:\"slave300\", devPing:\"devPing300\"},\n    {start:30000, name:\"metering301\", devSer:\"PCU18070038\", devIP:\"devIP301\", slaveR:\"slave301\", devPing:\"devPing301\"},\n    {start:30100, name:\"metering302\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP302\", slaveR:\"slave302\", devPing:\"devPing302\"},\n    {start:30200, name:\"metering303\", devSer:\"PCU18070039\", devIP:\"devIP303\", slaveR:\"slave303\", devPing:\"devPing303\"},\n    {start:30300, name:\"metering304\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP304\", slaveR:\"slave304\", devPing:\"devPing304\"},\n    {start:30400, name:\"metering305\", devSer:\"PCU18070040\", devIP:\"devIP305\", slaveR:\"slave305\", devPing:\"devPing305\"},\n    {start:30500, name:\"metering306\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP306\", slaveR:\"slave306\", devPing:\"devPing306\"},\n    {start:30600, name:\"metering307\", devSer:\"PCU18070041\", devIP:\"devIP307\", slaveR:\"slave307\", devPing:\"devPing307\"},\n    {start:30700, name:\"metering308\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP308\", slaveR:\"slave308\", devPing:\"devPing308\"},\n    {start:30800, name:\"metering309\", devSer:\"PCU18070042\", devIP:\"devIP309\", slaveR:\"slave309\", devPing:\"devPing309\"},\n    {start:30900, name:\"metering310\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP310\", slaveR:\"slave310\", devPing:\"devPing310\"},\n    {start:31000, name:\"metering311\", devSer:\"PCU18070043\", devIP:\"devIP311\", slaveR:\"slave311\", devPing:\"devPing311\"},\n    {start:31100, name:\"metering312\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP312\", slaveR:\"slave312\", devPing:\"devPing312\"},\n    {start:31200, name:\"metering313\", devSer:\"PCU18070044\", devIP:\"devIP313\", slaveR:\"slave313\", devPing:\"devPing313\"},\n    {start:31300, name:\"metering314\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP314\", slaveR:\"slave314\", devPing:\"devPing314\"},\n    {start:31400, name:\"metering315\", devSer:\"PCU18070045\", devIP:\"devIP315\", slaveR:\"slave315\", devPing:\"devPing315\"},\n    {start:31500, name:\"metering316\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP316\", slaveR:\"slave316\", devPing:\"devPing316\"},\n    {start:31600, name:\"metering317\", devSer:\"PCU18070046\", devIP:\"devIP317\", slaveR:\"slave317\", devPing:\"devPing317\"},\n    {start:31700, name:\"metering318\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP318\", slaveR:\"slave318\", devPing:\"devPing318\"},\n    {start:31800, name:\"metering319\", devSer:\"PCU18070047\", devIP:\"devIP319\", slaveR:\"slave319\", devPing:\"devPing319\"},\n    {start:31900, name:\"metering320\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP320\", slaveR:\"slave320\", devPing:\"devPing320\"},\n    {start:32000, name:\"metering321\", devSer:\"PCU18070048\", devIP:\"devIP321\", slaveR:\"slave321\", devPing:\"devPing321\"},\n    {start:32100, name:\"metering322\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP322\", slaveR:\"slave322\", devPing:\"devPing322\"},\n    {start:32200, name:\"metering323\", devSer:\"PCU18070049\", devIP:\"devIP323\", slaveR:\"slave323\", devPing:\"devPing323\"},\n    {start:32300, name:\"metering324\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP324\", slaveR:\"slave324\", devPing:\"devPing324\"},\n    {start:32400, name:\"metering325\", devSer:\"PCU18070050\", devIP:\"devIP325\", slaveR:\"slave325\", devPing:\"devPing325\"},\n    {start:32500, name:\"metering326\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP326\", slaveR:\"slave326\", devPing:\"devPing326\"},\n    {start:32600, name:\"metering327\", devSer:\"PCU18070051\", devIP:\"devIP327\", slaveR:\"slave327\", devPing:\"devPing327\"},\n    {start:32700, name:\"metering328\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP328\", slaveR:\"slave328\", devPing:\"devPing328\"},\n    {start:32800, name:\"metering329\", devSer:\"PCU18070052\", devIP:\"devIP329\", slaveR:\"slave329\", devPing:\"devPing329\"},\n    {start:32900, name:\"metering330\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP330\", slaveR:\"slave330\", devPing:\"devPing330\"},\n    {start:33000, name:\"metering331\", devSer:\"PCU18070053\", devIP:\"devIP331\", slaveR:\"slave331\", devPing:\"devPing331\"},\n    {start:33100, name:\"metering332\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP332\", slaveR:\"slave332\", devPing:\"devPing332\"},\n    {start:33200, name:\"metering333\", devSer:\"PCU18070054\", devIP:\"devIP333\", slaveR:\"slave333\", devPing:\"devPing333\"},\n    {start:33300, name:\"metering334\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP334\", slaveR:\"slave334\", devPing:\"devPing334\"},\n    {start:33400, name:\"metering335\", devSer:\"PCU18070055\", devIP:\"devIP335\", slaveR:\"slave335\", devPing:\"devPing335\"},\n    {start:33500, name:\"metering336\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP336\", slaveR:\"slave336\", devPing:\"devPing336\"},\n    {start:33600, name:\"metering337\", devSer:\"PCU18070056\", devIP:\"devIP337\", slaveR:\"slave337\", devPing:\"devPing337\"},\n    {start:33700, name:\"metering338\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP338\", slaveR:\"slave338\", devPing:\"devPing338\"},\n    {start:33800, name:\"metering339\", devSer:\"PCU18070057\", devIP:\"devIP339\", slaveR:\"slave339\", devPing:\"devPing339\"},\n    {start:33900, name:\"metering340\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP340\", slaveR:\"slave340\", devPing:\"devPing340\"},\n    {start:34000, name:\"metering341\", devSer:\"PCU18070058\", devIP:\"devIP341\", slaveR:\"slave341\", devPing:\"devPing341\"},\n    {start:34100, name:\"metering342\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP342\", slaveR:\"slave342\", devPing:\"devPing342\"},\n    {start:34200, name:\"metering343\", devSer:\"PCU18070059\", devIP:\"devIP343\", slaveR:\"slave343\", devPing:\"devPing343\"},\n    {start:34300, name:\"metering344\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP344\", slaveR:\"slave344\", devPing:\"devPing344\"},\n    {start:34400, name:\"metering345\", devSer:\"PCU18070060\", devIP:\"devIP345\", slaveR:\"slave345\", devPing:\"devPing345\"},\n    {start:34500, name:\"metering346\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP346\", slaveR:\"slave346\", devPing:\"devPing346\"},\n    {start:34600, name:\"metering347\", devSer:\"PCU18070061\", devIP:\"devIP347\", slaveR:\"slave347\", devPing:\"devPing347\"},\n    {start:34700, name:\"metering348\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP348\", slaveR:\"slave348\", devPing:\"devPing348\"},\n    {start:34800, name:\"metering349\", devSer:\"PCU18070062\", devIP:\"devIP349\", slaveR:\"slave349\", devPing:\"devPing349\"},\n    {start:34900, name:\"metering350\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP350\", slaveR:\"slave350\", devPing:\"devPing350\"},\n    {start:35000, name:\"metering351\", devSer:\"PCU18070063\", devIP:\"devIP351\", slaveR:\"slave351\", devPing:\"devPing351\"},\n    {start:35100, name:\"metering352\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP352\", slaveR:\"slave352\", devPing:\"devPing352\"},\n    {start:35200, name:\"metering353\", devSer:\"PCU18070064\", devIP:\"devIP353\", slaveR:\"slave353\", devPing:\"devPing353\"},\n    {start:35300, name:\"metering354\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP354\", slaveR:\"slave354\", devPing:\"devPing354\"},\n    {start:35400, name:\"metering355\", devSer:\"PCU18070065\", devIP:\"devIP355\", slaveR:\"slave355\", devPing:\"devPing355\"},\n    {start:35500, name:\"metering356\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP356\", slaveR:\"slave356\", devPing:\"devPing356\"},\n    {start:35600, name:\"metering357\", devSer:\"PCU18070066\", devIP:\"devIP357\", slaveR:\"slave357\", devPing:\"devPing357\"},\n    {start:35700, name:\"metering358\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP358\", slaveR:\"slave358\", devPing:\"devPing358\"},\n    {start:35800, name:\"metering359\", devSer:\"PCU18070067\", devIP:\"devIP359\", slaveR:\"slave359\", devPing:\"devPing359\"},\n    {start:35900, name:\"metering360\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP360\", slaveR:\"slave360\", devPing:\"devPing360\"},\n    {start:36000, name:\"metering361\", devSer:\"PCU18070068\", devIP:\"devIP361\", slaveR:\"slave361\", devPing:\"devPing361\"},\n    {start:36100, name:\"metering362\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP362\", slaveR:\"slave362\", devPing:\"devPing362\"},\n    {start:36200, name:\"metering363\", devSer:\"PCU18070069\", devIP:\"devIP363\", slaveR:\"slave363\", devPing:\"devPing363\"},\n    {start:36300, name:\"metering364\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP364\", slaveR:\"slave364\", devPing:\"devPing364\"},\n    {start:36400, name:\"metering365\", devSer:\"PCU18070070\", devIP:\"devIP365\", slaveR:\"slave365\", devPing:\"devPing365\"},\n    {start:36500, name:\"metering366\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP366\", slaveR:\"slave366\", devPing:\"devPing366\"},\n    {start:36600, name:\"metering367\", devSer:\"PCU18070071\", devIP:\"devIP367\", slaveR:\"slave367\", devPing:\"devPing367\"},\n    {start:36700, name:\"metering368\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP368\", slaveR:\"slave368\", devPing:\"devPing368\"},\n    {start:36800, name:\"metering369\", devSer:\"PCU18070072\", devIP:\"devIP369\", slaveR:\"slave369\", devPing:\"devPing369\"},\n    {start:36900, name:\"metering370\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP370\", slaveR:\"slave370\", devPing:\"devPing370\"},\n    {start:37000, name:\"metering371\", devSer:\"PCU18070073\", devIP:\"devIP371\", slaveR:\"slave371\", devPing:\"devPing371\"},\n    {start:37100, name:\"metering372\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP372\", slaveR:\"slave372\", devPing:\"devPing372\"},\n    {start:37200, name:\"metering373\", devSer:\"PCU18070074\", devIP:\"devIP373\", slaveR:\"slave373\", devPing:\"devPing373\"},\n    {start:37300, name:\"metering374\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP374\", slaveR:\"slave374\", devPing:\"devPing374\"},\n    {start:37400, name:\"metering375\", devSer:\"PCU18070075\", devIP:\"devIP375\", slaveR:\"slave375\", devPing:\"devPing375\"},\n    {start:37500, name:\"metering376\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP376\", slaveR:\"slave376\", devPing:\"devPing376\"},\n    {start:37600, name:\"metering377\", devSer:\"PCU18070076\", devIP:\"devIP377\", slaveR:\"slave377\", devPing:\"devPing377\"},\n    {start:37700, name:\"metering378\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP378\", slaveR:\"slave378\", devPing:\"devPing378\"},\n    {start:37800, name:\"metering379\", devSer:\"PCU18070077\", devIP:\"devIP379\", slaveR:\"slave379\", devPing:\"devPing379\"},\n    {start:37900, name:\"metering380\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP380\", slaveR:\"slave380\", devPing:\"devPing380\"},\n    {start:38000, name:\"metering381\", devSer:\"PCU18070078\", devIP:\"devIP381\", slaveR:\"slave381\", devPing:\"devPing381\"},\n    {start:38100, name:\"metering382\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP382\", slaveR:\"slave382\", devPing:\"devPing382\"},\n    {start:38200, name:\"metering383\", devSer:\"PCU18070079\", devIP:\"devIP383\", slaveR:\"slave383\", devPing:\"devPing383\"},\n    {start:38300, name:\"metering384\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP384\", slaveR:\"slave384\", devPing:\"devPing384\"},\n    {start:38400, name:\"metering385\", devSer:\"PCU18070080\", devIP:\"devIP385\", slaveR:\"slave385\", devPing:\"devPing385\"},\n    {start:38500, name:\"metering386\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP386\", slaveR:\"slave386\", devPing:\"devPing386\"},\n    {start:38600, name:\"metering387\", devSer:\"PCU18070081\", devIP:\"devIP387\", slaveR:\"slave387\", devPing:\"devPing387\"},\n    {start:38700, name:\"metering388\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP388\", slaveR:\"slave388\", devPing:\"devPing388\"},\n    {start:38800, name:\"metering389\", devSer:\"PCU18070082\", devIP:\"devIP389\", slaveR:\"slave389\", devPing:\"devPing389\"},\n    {start:38900, name:\"metering390\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP390\", slaveR:\"slave390\", devPing:\"devPing390\"},\n    {start:39000, name:\"metering391\", devSer:\"PCU18070083\", devIP:\"devIP391\", slaveR:\"slave391\", devPing:\"devPing391\"},\n    {start:39100, name:\"metering392\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP392\", slaveR:\"slave392\", devPing:\"devPing392\"},\n    {start:39200, name:\"metering393\", devSer:\"PCU18070084\", devIP:\"devIP393\", slaveR:\"slave393\", devPing:\"devPing393\"},\n    {start:39300, name:\"metering394\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP394\", slaveR:\"slave394\", devPing:\"devPing394\"},\n    {start:39400, name:\"metering395\", devSer:\"PCU18100001\", devIP:\"devIP395\", slaveR:\"slave395\", devPing:\"devPing395\"},\n    {start:39500, name:\"metering396\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP396\", slaveR:\"slave396\", devPing:\"devPing396\"}\n    ]\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":680,"wires":[["135d011c.de669f"]]},{"id":"50d5ddc8.6526ac","type":"file","z":"935770f4.d25f08","name":"","filename":"/home/root/.node-red/logFile.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1030,"y":460,"wires":[]},{"id":"68d8b303.c61854","type":"function","z":"935770f4.d25f08","name":"397-","func":"// [\n//     19800,19900,20000,20100,20200,20300,20400,20500,20600,20700,20800,20900,21000,\n//     21100,21200,21300,21400,21500,21600,21700,21800,21900,22000,\n//     22100,22200,22300,22400,22500,22600,22700,22800,22900,23000,\n//     23100,23200,23300,23400,23500,23600,23700,23800,23900,24000,\n//     24100,24200,24300,24400,24500,24600,24700,24800,24900,25000\n//     ]\n\nmsg.iter = [\n    {start:39600,   name:\"metering397\", devSer:\"PCU18100002\", devIP:\"devIP397\", slaveR:\"slave397\", devPing:\"devPing397\"},\n    {start:39700,   name:\"metering398\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP398\", slaveR:\"slave398\", devPing:\"devPing398\"},\n    {start:39800,   name:\"metering399\", devSer:\"PCU18100003\", devIP:\"devIP399\", slaveR:\"slave399\", devPing:\"devPing399\"},\n    {start:39900, name:\"metering400\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP400\", slaveR:\"slave400\", devPing:\"devPing400\"},\n    {start:40000, name:\"metering401\", devSer:\"PCU18100004\", devIP:\"devIP401\", slaveR:\"slave401\", devPing:\"devPing401\"},\n    {start:40100, name:\"metering402\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP402\", slaveR:\"slave402\", devPing:\"devPing402\"},\n    {start:40200, name:\"metering403\", devSer:\"PCU18100005\", devIP:\"devIP403\", slaveR:\"slave403\", devPing:\"devPing403\"},\n    {start:40300, name:\"metering404\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP404\", slaveR:\"slave404\", devPing:\"devPing404\"},\n    {start:40400, name:\"metering405\", devSer:\"PCU18100006\", devIP:\"devIP405\", slaveR:\"slave405\", devPing:\"devPing405\"},\n    {start:40500, name:\"metering406\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP406\", slaveR:\"slave406\", devPing:\"devPing406\"},\n    {start:40600, name:\"metering407\", devSer:\"PCU18100007\", devIP:\"devIP407\", slaveR:\"slave407\", devPing:\"devPing407\"},\n    {start:40700, name:\"metering408\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP408\", slaveR:\"slave408\", devPing:\"devPing408\"},\n    {start:40800, name:\"metering409\", devSer:\"PCU18100008\", devIP:\"devIP409\", slaveR:\"slave409\", devPing:\"devPing409\"},\n    {start:40900, name:\"metering410\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP410\", slaveR:\"slave410\", devPing:\"devPing410\"},\n    {start:41000, name:\"metering411\", devSer:\"PCU18100009\", devIP:\"devIP411\", slaveR:\"slave411\", devPing:\"devPing411\"},\n    {start:41100, name:\"metering412\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP412\", slaveR:\"slave412\", devPing:\"devPing412\"},\n    {start:41200, name:\"metering413\", devSer:\"PCU18100010\", devIP:\"devIP413\", slaveR:\"slave413\", devPing:\"devPing413\"},\n    {start:41300, name:\"metering414\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP414\", slaveR:\"slave414\", devPing:\"devPing414\"},\n    {start:41400, name:\"metering415\", devSer:\"PCU18100011\", devIP:\"devIP415\", slaveR:\"slave415\", devPing:\"devPing415\"},\n    {start:41500, name:\"metering416\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP416\", slaveR:\"slave416\", devPing:\"devPing416\"},\n    {start:41600, name:\"metering417\", devSer:\"PCU18100012\", devIP:\"devIP417\", slaveR:\"slave417\", devPing:\"devPing417\"},\n    {start:41700, name:\"metering418\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP418\", slaveR:\"slave418\", devPing:\"devPing418\"},\n    {start:41800, name:\"metering419\", devSer:\"PCU18100013\", devIP:\"devIP419\", slaveR:\"slave419\", devPing:\"devPing419\"},\n    {start:41900, name:\"metering420\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP420\", slaveR:\"slave420\", devPing:\"devPing420\"},\n    {start:42000, name:\"metering421\", devSer:\"PCU18100014\", devIP:\"devIP421\", slaveR:\"slave421\", devPing:\"devPing421\"},\n    {start:42100, name:\"metering422\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP422\", slaveR:\"slave422\", devPing:\"devPing422\"},\n    {start:42200, name:\"metering423\", devSer:\"PCU18100015\", devIP:\"devIP423\", slaveR:\"slave423\", devPing:\"devPing423\"},\n    {start:42300, name:\"metering424\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP424\", slaveR:\"slave424\", devPing:\"devPing424\"},\n    {start:42400, name:\"metering425\", devSer:\"PCU18100016\", devIP:\"devIP425\", slaveR:\"slave425\", devPing:\"devPing425\"},\n    {start:42500, name:\"metering426\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP426\", slaveR:\"slave426\", devPing:\"devPing426\"},\n    {start:42600, name:\"metering427\", devSer:\"PCU18100017\", devIP:\"devIP427\", slaveR:\"slave427\", devPing:\"devPing427\"},\n    {start:42700, name:\"metering428\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP428\", slaveR:\"slave428\", devPing:\"devPing428\"},\n    {start:42800, name:\"metering429\", devSer:\"PCU18100018\", devIP:\"devIP429\", slaveR:\"slave429\", devPing:\"devPing429\"},\n    {start:42900, name:\"metering430\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP430\", slaveR:\"slave430\", devPing:\"devPing430\"},\n    {start:43000, name:\"metering431\", devSer:\"PCU18100019\", devIP:\"devIP431\", slaveR:\"slave431\", devPing:\"devPing431\"},\n    {start:43100, name:\"metering432\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP432\", slaveR:\"slave432\", devPing:\"devPing432\"},\n    {start:43200, name:\"metering433\", devSer:\"PCU18100020\", devIP:\"devIP433\", slaveR:\"slave433\", devPing:\"devPing433\"},\n    {start:43300, name:\"metering434\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP434\", slaveR:\"slave434\", devPing:\"devPing434\"},\n    {start:43400, name:\"metering435\", devSer:\"PCU18100021\", devIP:\"devIP435\", slaveR:\"slave435\", devPing:\"devPing435\"},\n    {start:43500, name:\"metering436\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP436\", slaveR:\"slave436\", devPing:\"devPing436\"},\n    {start:43600, name:\"metering437\", devSer:\"PCU18100022\", devIP:\"devIP437\", slaveR:\"slave437\", devPing:\"devPing437\"},\n    {start:43700, name:\"metering438\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP438\", slaveR:\"slave438\", devPing:\"devPing438\"},\n    {start:43800, name:\"metering439\", devSer:\"PCU18100023\", devIP:\"devIP439\", slaveR:\"slave439\", devPing:\"devPing439\"},\n    {start:43900, name:\"metering440\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP440\", slaveR:\"slave440\", devPing:\"devPing440\"},\n    {start:44000, name:\"metering441\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP441\", slaveR:\"slave441\", devPing:\"devPing441\"},\n    {start:44100, name:\"metering442\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP442\", slaveR:\"slave442\", devPing:\"devPing442\"},\n    {start:44200, name:\"metering443\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP443\", slaveR:\"slave443\", devPing:\"devPing443\"},\n    {start:44300, name:\"metering444\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP444\", slaveR:\"slave444\", devPing:\"devPing444\"},\n    {start:44400, name:\"metering445\", devSer:\"PCUXXXXXXXX\", devIP:\"devIP445\", slaveR:\"slave445\", devPing:\"devPing445\"},\n    \n    ]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[["135d011c.de669f"]]},{"id":"550bf834.214588","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":540,"wires":[["c01bc6cd.7fd96"]]},{"id":"15963983.bdef16","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":620,"wires":[["e36af22a.1c2c4"]]},{"id":"d6ef38d4.325198","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"45","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":680,"wires":[["fb8b7862.435878"]]},{"id":"813a222e.ec25b8","type":"delay","z":"935770f4.d25f08","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":760,"wires":[["68d8b303.c61854"]]}]
